
 /* BRANDS PRODUCT */



 .heading5{
    padding: 15px;
    margin:-10px auto 10px;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 3rem;
    text-decoration: none;
    letter-spacing: 3px;
    position: relative;
  }
  
  
   
  .heading5::before {
    content: "";
    position: absolute;
    width: 31%;
    height: 3px;
    background-color: aqua; 
    left: 35%;
    transform: translateX(-5%);
    animation: animate 5s linear infinite;
  }
  
  
  
  .heading5::after {
    content: "";
    position: absolute;
    width: 31%;
    height: 3px;
    top: 76px;
    background-color: aqua; 
    left: 35%;
    transform: translateX(-50%);
    animation: animate 5s linear infinite;
  }
  
   
  
  .Product_37_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_37_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_37_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  
  
  .Product_38_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_38_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_38_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  .Product_39_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_39_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_39_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  .Product_40_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_40_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_40_img1:hover img {
    transform: scale(1.05);
  }
  
  .Product_modal-dialog_41 {
    max-width: 1248px !important;
}
  
  
  .Product_41_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_41_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_41_img1:hover img {
    transform: scale(1.05);
  }
  
  .product_card-body_41{
    width: 620px !important;
  }


  
  .Product_modal-dialog_42 {
    max-width: 1160px !important;
}
  
  .Product_42_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_42_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_42_img1:hover img {
    transform: scale(1.05);
  }
  
  
  .product_card-body_42{
    width: 580px !important;
  }
  
  /* BRANDS Product Model */
  
  .product_card_img_modal-37 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-37:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  .product_card_img_modal-38 img{
    width: 390px;
    height:500px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-38:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  .product_card_img_modal-39 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-39:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  .product_card_img_modal-40 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-40:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  .product_card_img_modal-41 img{
    width: 390px;
    height:560px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-41:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  
  .product_card_img_modal-42 img{
    width: 390px;
    height:560px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-42:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  


  
 /* DAILY USE ITEMS PRODUCT */



 .heading6{
    padding: 15px;
    margin:-10px auto 10px;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 3rem;
    text-decoration: none;
    letter-spacing: 3px;
    position: relative;
  }
  
  
   
  .heading6::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: aqua; 
    left: 25%;
    transform: translateX(-5%);
    animation: animate 5s linear infinite;
  }
  
  
  
  .heading6::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    top: 76px;
    background-color: aqua; 
    left: 25%;
    transform: translateX(-50%);
    animation: animate 5s linear infinite;
  }
  
   
  
  .Product_43_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_43_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_43_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  
  
  .Product_44_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_44_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_44_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  .Product_45_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_45_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_45_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  .Product_46_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_46_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_46_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  .Product_47_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_47_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_47_img1:hover img {
    transform: scale(1.05);
  }
  
  
  .Product_48_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_48_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_48_img1:hover img {
    transform: scale(1.05);
  }
  
  
  /*  DAILY USE ITEMS Product Model */
  
  .product_card_img_modal-43 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-43:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  .product_card_img_modal-44 img{
    width: 390px;
    height:490px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-44:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  .product_card_img_modal-45 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-45:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  .product_card_img_modal-46 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-46:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  .product_card_img_modal-47 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-47:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  
  .product_card_img_modal-48 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-48:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  


  
  
 /* WOMAN'S STITCHED CLOTHES PRODUCT */



 .heading7{
    padding: 15px;
    margin:-10px auto 10px;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 3rem;
    text-decoration: none;
    letter-spacing: 3px;
    position: relative;
  }
  
  
   
  .heading7::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: aqua; 
    left: 2%;
    transform: translateX(-5%);
    animation: animate 5s linear infinite;
  }
  
  
  
  .heading7::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 76px;
    background-color: aqua; 
    left: 2%;
    transform: translateX(-50%);
    animation: animate 5s linear infinite;
  }
  
   
  
  .Product_49_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_49_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_49_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  
  
  .Product_50_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_50_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_50_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  .Product_51_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_51_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_51_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  .Product_52_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_52_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_52_img1:hover img {
    transform: scale(1.05);
  }
  
  
  .Product_modal-dialog_53 {
    max-width: 1048px !important;
}
  
  
  .Product_53_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_53_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_53_img1:hover img {
    transform: scale(1.05);
  }
  


  .product_card-body_53{
    width: 520px !important;
  }

  
  .Product_54_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_54_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_54_img1:hover img {
    transform: scale(1.05);
  }
  
  
  /*  WOMAN'S STITCHED CLOTHES Product Model */
  
  .product_card_img_modal-49 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-49:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  .product_card_img_modal-50 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-50:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  .product_card_img_modal-51 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-51:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  .product_card_img_modal-52 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-52:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  .product_card_img_modal-53 img{
    width: 390px;
    height:550px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-53:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  
  .product_card_img_modal-54 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-54:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  


  
 /*  MEN'S STITCHED CLOTHES PRODUCT */



 .heading8{
    padding: 15px;
    margin:-10px auto 10px;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 3rem;
    text-decoration: none;
    letter-spacing: 3px;
    position: relative;
  }
  
  
   
  .heading8::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 3px;
    background-color: aqua; 
    left: 16%;
    transform: translateX(-5%);
    animation: animate 5s linear infinite;
  }
  
  
  
  .heading8::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 3px;
    top: 76px;
    background-color: aqua; 
    left: 16%;
    transform: translateX(-50%);
    animation: animate 5s linear infinite;
  }
  
   
  
  .Product_55_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_55_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_55_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  
  
  .Product_56_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_56_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_56_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  .Product_57_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_57_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_57_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  .Product_58_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_58_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_58_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  .Product_59_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_59_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_59_img1:hover img {
    transform: scale(1.05);
  }
  
  
  .Product_60_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_60_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_60_img1:hover img {
    transform: scale(1.05);
  }
  
  
  /*  MEN'S STITCHED CLOTHES Product Model */
  
  .product_card_img_modal-55 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-55:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  .product_card_img_modal-56 img{
    width: 390px;
    height:570px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-56:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  .product_card_img_modal-57 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-57:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  .product_card_img_modal-58 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-58:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  .product_card_img_modal-59 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-59:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  
  .product_card_img_modal-60 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-60:hover img {
    transform: scale(1.05);
    width: 420px;
  }



  
  
 /*  MOTHER & BABY PRODUCT */



 .heading9{
    padding: 15px;
    margin:-10px auto 10px;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 3rem;
    text-decoration: none;
    letter-spacing: 3px;
    position: relative;
  }
  
  
   
  .heading9::before {
    content: "";
    position: absolute;
    width: 55%;
    height: 3px;
    background-color: aqua; 
    left: 23%;
    transform: translateX(-5%);
    animation: animate 5s linear infinite;
  }
  
  
  
  .heading9::after {
    content: "";
    position: absolute;
    width: 55%;
    height: 3px;
    top: 76px;
    background-color: aqua; 
    left: 23%;
    transform: translateX(-50%);
    animation: animate 5s linear infinite;
  }
  
   
  
  .Product_61_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_61_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_61_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  
  
  .Product_62_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_62_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_62_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  .Product_63_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_63_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_63_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  .Product_64_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_64_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_64_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  .Product_65_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_65_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_65_img1:hover img {
    transform: scale(1.05);
  }
  
  
  .Product_66_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_66_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_66_img1:hover img {
    transform: scale(1.05);
  }
  
  
  /*  MEN'S STITCHED CLOTHES Product Model */
  
  .product_card_img_modal-61 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-61:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  .product_card_img_modal-62 img{
    width: 390px;
    height:570px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-62:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  .product_card_img_modal-63 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-63:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  .product_card_img_modal-64 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-64:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  .product_card_img_modal-65 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-65:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  
  .product_card_img_modal-66 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-66:hover img {
    transform: scale(1.05);
    width: 420px;
  }


  
  
 /* HOME DECOR PRODUCT */



 .heading10{
    padding: 15px;
    margin:-10px auto 10px;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 3rem;
    text-decoration: none;
    letter-spacing: 3px;
    position: relative;
  }
  
  
   
  .heading10::before {
    content: "";
    position: absolute;
    width: 44%;
    height: 3px;
    background-color: aqua; 
    left: 28%;
    transform: translateX(-5%);
    animation: animate 5s linear infinite;
  }
  
  
  
  .heading10::after {
    content: "";
    position: absolute;
    width: 44%;
    height: 3px;
    top: 76px;
    background-color: aqua; 
    left: 28%;
    transform: translateX(-50%);
    animation: animate 5s linear infinite;
  }
  
   
  
  .Product_67_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_67_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_67_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  
  
  .Product_68_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_68_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_68_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  .Product_69_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_69_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_69_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  .Product_70_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_70_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_70_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  .Product_71_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_71_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_71_img1:hover img {
    transform: scale(1.05);
  }
  
  
  .Product_72_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_72_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_72_img1:hover img {
    transform: scale(1.05);
  }
  
  
  /*  HOME DECOR Product Model */
  
  .product_card_img_modal-67 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-67:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  .product_card_img_modal-68 img{
    width: 390px;
    height:570px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-68:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  .product_card_img_modal-69 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-69:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  .product_card_img_modal-70 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-70:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  .product_card_img_modal-71 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-71:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  
  .product_card_img_modal-72 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-72:hover img {
    transform: scale(1.05);
    width: 420px;
  }



  
  
 /* MEN'S UNSTITCHED CLOTHES PRODUCT */



 .heading11{
    padding: 15px;
    margin:-10px auto 10px;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 3rem;
    text-decoration: none;
    letter-spacing: 3px;
    position: relative;
  }
  
  
   
  .heading11::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: aqua; 
    left: -1%;
    transform: translateX(-5%);
    animation: animate 5s linear infinite;
  }
  
  
  
  .heading11::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 76px;
    background-color: aqua; 
    left: -1%;
    transform: translateX(-50%);
    animation: animate 5s linear infinite;
  }
  
   
  
  .Product_73_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_73_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_73_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  
  
  .Product_74_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_74_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_74_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  .Product_75_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_75_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_75_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  .Product_76_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_76_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_76_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  .Product_77_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_77_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_77_img1:hover img {
    transform: scale(1.05);
  }
  
  
  .Product_78_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_78_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_78_img1:hover img {
    transform: scale(1.05);
  }
  
  
  /*  MEN'S UNSTITCHED CLOTHES Product Model */
  
  .product_card_img_modal-73 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-73:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  .product_card_img_modal-74 img{
    width: 390px;
    height:570px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-74:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  .product_card_img_modal-75 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-75:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  .product_card_img_modal-76 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-76:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  .product_card_img_modal-77 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-77:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  
  .product_card_img_modal-78 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-78:hover img {
    transform: scale(1.05);
    width: 420px;
  }




  
  
 /* MEN'S UNSTITCHED CLOTHES PRODUCT */



 .heading12{
    padding: 15px;
    margin:-10px auto 10px;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 3rem;
    text-decoration: none;
    letter-spacing: 3px;
    position: relative;
  }
  
  
   
  .heading12::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 3px;
    background-color: aqua; 
    left: 35%;
    transform: translateX(-5%);
    animation: animate 5s linear infinite;
  }
  
  
  
  .heading12::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 3px;
    top: 76px;
    background-color: aqua; 
    left: 35%;
    transform: translateX(-50%);
    animation: animate 5s linear infinite;
  }
  
   
  
  .Product_79_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_79_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_79_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  
  
  .Product_80_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_80_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_80_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  .Product_81_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_81_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_81_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  .Product_82_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_82_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_82_img1:hover img {
    transform: scale(1.05);
  }
  
  
  
  
  .Product_83_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_83_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_83_img1:hover img {
    transform: scale(1.05);
  }
  
  
  .Product_84_img1 {
    max-width: 100%;
    background-color: #31313134;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #31313128;
    text-align: center;
    flex-grow: 1;
  }
  
  .Product_84_img1 img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .Product_84_img1:hover img {
    transform: scale(1.05);
  }
  
  
  /*  MEN'S UNSTITCHED CLOTHES Product Model */
  
  .product_card_img_modal-79 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-79:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  .product_card_img_modal-80 img{
    width: 390px;
    height:570px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-80:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  .product_card_img_modal-81 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-81:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  .product_card_img_modal-82 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-82:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  .product_card_img_modal-83 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-83:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  
  .product_card_img_modal-84 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-84:hover img {
    transform: scale(1.05);
    width: 420px;
  }


  /* FOOTER */
  .footer{
    border-top:1px solid aqua;
      }

      .cp{
        color: aqua;
      }


.fa-whatsapp{
  color:green;
 
}