
 /* BRANDS PRODUCT */



 .heading5{
    padding: 15px;
    margin:-10px auto 10px;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 3rem;
    text-decoration: none;
    letter-spacing: 3px;
    position: relative;
  }
  
  
   
  .heading5::before {
    content: "";
    position: absolute;
    width: 31%;
    height: 3px;
    background-color: aqua; 
    left: 35%;
    transform: translateX(-5%);
    animation: animate 5s linear infinite;
  }
  
  
  
  .heading5::after {
    content: "";
    position: absolute;
    width: 31%;
    height: 3px;
    top: 76px;
    background-color: aqua; 
    left: 35%;
    transform: translateX(-50%);
    animation: animate 5s linear infinite;
  }
  
    
  .product_card-body_41{
    width: 620px !important;
  }


  
  .Product_modal-dialog_42 {
    max-width: 1160px !important;
}
    
  
  .product_card-body_42{
    width: 580px !important;
  }
  
  /* BRANDS Product Model */
  
  .product_card_img_modal-37 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-37:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  .product_card_img_modal-38 img{
    width: 390px;
    height:500px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-38:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  .product_card_img_modal-39 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-39:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  .product_card_img_modal-40 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-40:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  .product_card_img_modal-41 img{
    width: 390px;
    height:560px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-41:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  
  .product_card_img_modal-42 img{
    width: 390px;
    height:560px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-42:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  


  
 /* DAILY USE ITEMS PRODUCT */



 .heading6{
    padding: 15px;
    margin:-10px auto 10px;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 3rem;
    text-decoration: none;
    letter-spacing: 3px;
    position: relative;
  }
  
  
   
  .heading6::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: aqua; 
    left: 25%;
    transform: translateX(-5%);
    animation: animate 5s linear infinite;
  }
  
  
  
  .heading6::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    top: 76px;
    background-color: aqua; 
    left: 25%;
    transform: translateX(-50%);
    animation: animate 5s linear infinite;
  }
  
    
  
  
  /*  DAILY USE ITEMS Product Model */
  
  .product_card_img_modal-43 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-43:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  .product_card_img_modal-44 img{
    width: 390px;
    height:490px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-44:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  .product_card_img_modal-45 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-45:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  .product_card_img_modal-46 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-46:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  .product_card_img_modal-47 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-47:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  
  .product_card_img_modal-48 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-48:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  


  
  
 /* WOMAN'S STITCHED CLOTHES PRODUCT */



 .heading7{
    padding: 15px;
    margin:-10px auto 10px;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 3rem;
    text-decoration: none;
    letter-spacing: 3px;
    position: relative;
  }
  
  
   
  .heading7::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: aqua; 
    left: 2%;
    transform: translateX(-5%);
    animation: animate 5s linear infinite;
  }
  
  
  
  .heading7::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 76px;
    background-color: aqua; 
    left: 2%;
    transform: translateX(-50%);
    animation: animate 5s linear infinite;
  }
  
    
  
  .Product_modal-dialog_53 {
    max-width: 1048px !important;
}
  
   


  .product_card-body_53{
    width: 520px !important;
  }

    
  
  /*  WOMAN'S STITCHED CLOTHES Product Model */
  
  .product_card_img_modal-49 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-49:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  .product_card_img_modal-50 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-50:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  .product_card_img_modal-51 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-51:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  .product_card_img_modal-52 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-52:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  .product_card_img_modal-53 img{
    width: 390px;
    height:550px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-53:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  
  
  
  .product_card_img_modal-54 img{
    width: 390px;
    height:530px; 
    object-fit: cover;
    transition: 0.3s ease-out;
  }
  
  .product_card_img_modal-54:hover img {
    transform: scale(1.05);
    width: 420px;
  }
  

 

  /* FOOTER */
  .footer{
    border-top:1px solid aqua;
      }

      .cp{
        color: #fff;
      }

.footer ul {
  position: relative;
  top: 10px;
}
  
.footer ul li{
  position: relative;
  list-style: none;
  margin: 4px 20px;
  cursor: pointer;
}
.footer ul li a{
  text-decoration: none;
}
.footer ul li a .brands{
  font-size: 2.5em;
  color: #ffff;
}

.footer ul li:nth-child(1){
  text-shadow: 0 10px 30px rgba(240, 8, 0, 0.911);
}
.footer ul li:nth-child(2){
  text-shadow: 0 10px 30px rgba(0, 194, 16, 0.911);
}
.footer ul li:nth-child(3){
  text-shadow: 0 10px 30px rgba(2, 120, 255, 0.911);
}
.footer ul li::before{
  font-family: 'FontAwesome';
  position: absolute;
  top: -10px;
  left: 0;
  font-size: 6em;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.footer ul li:nth-child(1)::before{
  content: '\f16d';    /*یونی کد فونت اسوم هست*/
  width: 100%;
  background-image: linear-gradient(45deg , #f09433 0% , #e6683c 25% , #dc2343 50% , #cc2366 75% , #bc1888 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 4px solid #dc2743;
  text-shadow: 0 0 0 rgba(233, 1, 1, 0);
  font-size: 2.5em;
}
.footer ul li:nth-child(2)::before{
  content: '\f232';
  color: #25d366;
  border-bottom: 4px solid #25d366;
  text-shadow: 0 0 0 rgba(0, 194, 16, 0);
  font-size: 2.5em;
}
.footer ul li:nth-child(3)::before{
  content: '\f09a';
  color: #1da1f2;
  border-bottom: 4px solid #1da1f2;
  text-shadow: 0 0 0 rgba(2, 120, 255, 0.911);
  font-size: 2.5em;
}

.footer ul li:hover::before{
  height:56px;
}