 /* LAPTOP VIEW */
 

 @media (max-width:1304px) {
    .register-heading {
     animation: responsive-animation-h1 3s ease-in-out;
    animation-iteration-count: infinite;
}


@keyframes responsive-animation-h1{
 
 100% {
    font-size: 2rem;
    height: 7rem;
}
50% {
    font-size: 2.3rem;
    height: 7rem;
}
0% {
    font-size: 2rem;
    height: 7rem;
}
}
} 

@media (max-width:1298px) {
    .footer {
        height: 30%;
    }
}

@media (max-width:1282px) {
    .register-heading {
        width: 94%;
   }
 
}
@media (max-width:1244px) {

.form-container {
    max-width: 1154px;
}
}
   @media (max-width:1200px) {

   .logo {
     left: 28px;
   }

   .al-firdous {
     left: 14px;
   }


   }
 
@media (max-width:1194px) {
   
.nav-link-hover {
     margin: 0px 18px;
}

}

@media (max-width:1190px) {
    .nav-link-hover {
        margin: 0px 15px;
    }

    .logo {
        width: 110px;
        height: 100px;
    }
    
    .al-firdous {
        left: 18px;
    }    

    .form-container {
        max-width: 1128px;
    }

    .contact-us{
         left: 0%;
    }    

    .login {
         width: 40% !important;
    }

}


@media (max-width: 1160px){
.form-container {
    max-width: 1072px;
}

.login {
     font-size: 16px !important;
}

.contact-us {
     width: 50% !important;
     font-size: 16px !important;
 }

}


@media (max-width:1100px) {
   
    .logo {
        width: 116px;
        height: 110px;
        left: 24px;
    }
   
    .nav-link-hover {
        margin: 0px 12px;
    }
 .form-container {
        max-width: 94%;
    }

    .register-img {
         width: 100%;
         left: 4%;
    }


    .contact-us {
        width: 53% !important;
     }
    
}
 

@media (max-width:1055px) {
    .nav-link-hover {
        margin: 0px 10px;
    }

    .search {
        width: 130px !important;
        font-size: 18px !important;
    }
}

@media (max-width:1053px) {

.login {
    width: 38% !important;
font-size: 18px !important;

}


}

@media (max-width:1044px) {

.contact-us:hover {
     letter-spacing: 1px;
}
}
/* IPAD LANDSCAPE VIEW */
 
@media (max-width: 1022px) {
    .nav-link-hover {
        margin: 0px 8px;
    } 
}

@media (max-width: 1016px) {

.register-heading {
    width: 64%;
}
}

@media (max-width: 1004px) {
    .nav-link-hover {
        margin: 0px 6px;
    }
 

    .search {
        width: 118px !important;
        font-size: 16px !important;
    } 

}

/* TABLET VIEW */


@media (max-width:991px) {

    .logo {
         top: -7px;
    }

    .al-firdous {
     top: 80px;
    }

    .responsive-nav {
        width: 90% !important;
        position: relative;
        top: -26px;
    }

    .navbar .active {
        margin: 50px 370px;
    }

    .nav-link-hover {
        margin: 50px 370px;
    }

    .dropdown_btn {
        padding: 12px 62px !important;
    }

    .dropdown .dropdown_btn:focus+.dropdown_menu,
    .dropdown .dropdown_btn:focus+.dropdown_menu:hover {
        left: 375px;
        opacity: 1;
        pointer-events: inherit;
        top: 112px;
    }


    .search-container {
        padding-top: 62px;
    }

    .offcanvas-body::-webkit-scrollbar {
        display: none;
    } 

    .register-heading {
        width: 82%;
    }
     
    .login {
         font-size: 15px !important;
    }


    .cp {
        margin-bottom: -2px;
    }

}

@media (max-width: 960px) {

.footer .row > div .image {
     left: 20%;
}

.footer .row > div > div > span:hover {
    color: aqua;
    background-color:rgb(41,40,40);
        transform: rotate(5deg) scale(1.2);
    }

}

@media (max-width: 950px) {
    .nav-link-hover {
        margin: 50px 352px;
    }

    .navbar .active {
        margin: 50px 352px;
    }

    .dropdown_btn {
        padding: 12px 72px !important;
    }

}

@media (max-width: 940px) {
    .footer .row > div > div > span {
    width: 374px;
    font-size: 14px;
}
}

@media (max-width: 930px) {

    .dropdown_btn {
        padding: 12px 65px !important;
    }
}

@media (max-width: 900px) {

    .dropdown_btn {
        padding: 12px 50px !important;
    }


    .footer .row > div > div > span:hover {
        color: aqua;
        background-color:rgb(41,40,40);
            transform: rotate(5deg) scale(1.2);
        }

    .footer .row > div .image {
         width: 156px;
    }    


}

@media (max-width: 880px) {

    .dropdown_btn {
        padding: 12px 40px !important;
    }
}

@media (max-width: 860px) {

    .navbar .active {
        margin: 50px 338px;
    }

    .nav-link-hover {
        margin: 50px 338px;
    }


    .contact-us {
        font-size: 14px !important;
    }

    .footer .row > div > div > span {
         font-size: 13px;
    }


}

@media (max-width: 844px) {

    .navbar .active {
        margin: 50px 330px;
    }

    .nav-link-hover {
        margin: 50px 330px;
    }

}

@media (max-width: 842px) {

.contact-us:hover {
    letter-spacing: 0.4px;
}
}

@media (max-width: 830px) {

.footer ul {
    position: relative;
    top: 10px;
    left: 30px;
    font-size: 12px;
}

.footer ul li::before {
     top: -6px;
}



}

@media (max-width: 826px) {

    .navbar .active {
        margin: 50px 320px;
    }

    .nav-link-hover {
        margin: 50px 320px;
    }

}

@media (max-width: 810px) {

    .navbar .active {
        margin: 50px 310px;
    }

    .nav-link-hover {
        margin: 50px 310px;
    }


    .footer .row > div > div > span {
         position: relative;
        z-index: 1;
        width: 286px;
    }

    .footer .row > div .image {
        width: 130px;
    left: 15%;
    }

}

@media (max-width: 807px) {

    .register_me {
         width: 230px !important;
    }

.login { 
    font-size: 16px !important;
}

 


}

@media (max-width: 800px) {

    .navbar .active {
        margin: 50px 300px;
    }

    .nav-link-hover {
        margin: 50px 300px;
    }

}

@media (max-width: 780px) {

     .contact-us {
        font-size: 15px !important;
    }

.footer .row > div .image {
     left: 34%;
}
}

@media (max-width: 770px) {

    .navbar .active {
        margin: 50px 290px;
    }

    .nav-link-hover {
        margin: 50px 290px;
    }

    .contact-us {
        font-size: 13px !important;
    }

}

/* iPad portrait */

@media (max-width: 768px) {

    .dropdown .dropdown_btn:focus+.dropdown_menu,
    .dropdown .dropdown_btn:focus+.dropdown_menu:hover {
        left: 293px;
        pointer-events: inherit;
        top: 108px;
    }

    .form-container {
        padding-top: 4rem;
    }  
}

/* MOBILE VIEW */


@media (max-width: 767px) {
  

.form-container .row .col-sm-12{
        padding-left: 3rem;
    }

    .footer {
        height: 65%;
    }


    .footer .row > div .image {
        left: 0%;
        width: 178px;

    }

    .footer ul {
        position: relative;
        top: 0px;
        left: 0px;
        font-size: 18px;
        justify-content: center;
    }

    .footer .row b {
         font-size: 20px;
    }

    .footer .row > div > div > a.sf {
        width: 124px;
         font-size: 24px;
}

    .footer .row > div > div > a{
        width: 168px;
        font-size: 24px;
}
    .footer .row > div > div > a.em{
        width: 226px;
        font-size: 24px;
    }

    .footer .row > div > div > span {
         width: 474px;
         font-size: 22px;
        }

        .footer ul li a .brands {
            font-size: 2em;
        }

        .footer ul li::before {
            top: -8px;
        }

        .footer ul li:nth-child(1)::before {
            font-size: 2em;
        }


        .footer ul li:nth-child(2)::before {
            font-size: 2em;
        }


        .footer ul li:nth-child(3)::before {
            font-size: 2em;
        }

        .footer ul li:hover::before {
            height: 52px;
        }
 

}

    @media (max-width: 750px) {

        .navbar .active {
            margin: 50px 270px;
        }

        .nav-link-hover {
            margin: 50px 270px;
        }

    }

    /* iPhone eXpensive landscape */
 
    @media (max-width: 727px) {

    .footer .row > div > div > span {
        width: 432px;
        font-size: 20px;
    }
    }

    @media (max-width: 700px) {

        .navbar .active {
            margin: 50px 260px;
        }

        .nav-link-hover {
            margin: 50px 260px;
        }

    }

    @media (max-width: 690px) {

        .navbar .active {
            margin: 50px 250px;
        }

        .nav-link-hover {
            margin: 50px 250px;
        }

    }

    /* Android (Pixel 2) landscape */
     @media (max-width: 670px) {

        .navbar .active {
            margin: 50px 235px;
        }

        .nav-link-hover {
            margin: 50px 235px;
        }

    }

    @media (max-width: 640px) {

        .navbar .active {
            margin: 50px 225px;
        }

        .nav-link-hover {
            margin: 50px 225px;
        }

    }

    @media (max-width: 630px) {

        .navbar .active {
            margin: 50px 210px;
        }

        .nav-link-hover {
            margin: 50px 210px;
        }

    }

    @media (max-width: 600px) {

        .navbar .active {
            margin: 50px 200px;
        }

        .nav-link-hover {
            margin: 50px 200px;
        }

    }

    @media (max-width: 590px) {

        .navbar .active {
            margin: 50px 190px;
        }

        .nav-link-hover {
            margin: 50px 190px;
        }

    }

    @media (max-width: 575px) {

        .navbar .active {
            margin: 50px 180px;
        }

        .nav-link-hover {
            margin: 50px 180px;
        }
   

    } 

    

    @media (max-width: 504px) {


        .footer .row > div > div > a.sf {
            width: 104px;
             font-size: 20px;
        }

    .footer .row > div > div > span {
        width: 388px;
        font-size: 18px;
    }

    .footer .row > div > div > a {
        width: 138px;
        font-size: 20px;
    }

    }

    @media (max-width: 500px) {

    .register_me {
        width: 97% !important;
    }
    }

    /* iPhone 6-8 Plump portrait */
   

    @media (max-width: 414px) {
        .navbar .active {
            margin: 50px 120px;
        }

        .nav-link-hover {
            margin: 50px 120px;
        }

        .dropdown .dropdown_btn:focus+.dropdown_menu,
        .dropdown .dropdown_btn:focus+.dropdown_menu:hover {
            left: 125px;
            pointer-events: inherit;
            top: 104px;
        }

        .register-heading {
            width: 88%;
        }

  @keyframes responsive-animation-h1 {100% {
    font-size: 1.3rem;
    height: 7rem;
}
50% {
    font-size: 1.6rem;
    height: 7rem;
}
0% {
    font-size: 1.3rem;
    height: 7rem;
}}


.form-container {
    padding-top: 0rem;
}

        .footer .container {
            width: 60%;
        }
 


        .footer .row > div > div > span {
            width: 302px;
            font-size: 14px;
        }

        .footer .row > div > div > a {
            width: 124px;
            font-size: 18px;
        }


    }
  

    @media (max-width: 375px) {
        .logo {
            width: 87%;
            height: 120px;
        }

        .al-firdous {
            top: 85px;
        left: 10px;
        }


        .nav-link-hover {
            margin: 50px 97px;
        }
 
          .footer .row > div > div > span {
            width: 262px;
            font-size: 15px;
        }
   
}