/* DESKTOP VIEW*/
 @media (max-width:1400px) {
    #home {
         height: 950px;
    }

    .shop-now {
        left: 68.2% !important;
        top: 70% !important;    
}

.heading1 {
     width: 50%;
}


.heading4 {
     width: 96%;
}
   

.button {
    margin:-94px 32% 110px;
}
.all-products {
    padding-left: 13% !important;
    padding-right: 0px !important;
}
 
.images__cont {
     margin-left: 44px;
    width: 535px;
}
.images__cont-two {
     margin-left: 44px;
    width: 535px;
}

.wucs-btn {
    margin: 24% 32% 110px !important;
}

.BSM-btn{
    margin: 24% 36% 110px !important;
}

 }


/* LAPTOP VIEW */



@media (max-width:1365px) {
    .banner {
        width: 100%;
    }

}

 

@media (max-width:1350px) {

    .shop-now {
        left: 69.2% !important;
        top: 70% !important;
    }
 
    #products {
        width: 1310px;
    }


  

}

@media (max-width:1344px) {

.button {
    margin: -94px 30% 110px;
}
}


@media (max-width:1340px) {

    #products {
        width: 1290px;
    }
}

@media (max-width:1330px) {

    #products {
        width: 1270px;
    }
}

@media (max-width:1320px) {

    #products {
        width: 1240px;
    }

    .cards-2 {
     
        width: 352px; 
    }

    .price button {
         width: 134px !important;
    }

}

@media (max-width:1304px) {
 .row{
    width:100% ;
 }
 

 .heading4 {
     animation: responsive-animation-h1 3s ease-in-out;
    animation-iteration-count: infinite;
}


@keyframes responsive-animation-h1{
 
 100% {
    font-size: 2rem;
    height: 7rem;
}
50% {
    font-size: 2.3rem;
    height: 7rem;
}
0% {
    font-size: 2rem;
    height: 7rem;
}
}
}
@media (max-width:1300px) {


    .shop-now {
        left: 70% !important;
    }


    .button {
        margin: -94px 48% 110px;
    }


.cards-5__side {
     width: 340px;
}

.cards-5__picture--1 {
    background-image: url(../Product_imges/Product_37_img1.jpg);
    transform: translate(-94px, -6px);
}
.cards-5__picture--2 {
    background-image: url(../Product_imges/Product_38_img1.jpg);
    transform: translate(-94px, -6px);
}
.cards-5__picture--3 {
    background-image: url(../Product_imges/Product_39_img1.jpg);
    transform: translate(-94px, -6px);
}
.cards-5__picture--4 {
    background-image: url(../Product_imges/Product_40_img1.jpg);
    transform: translate(-94px, -6px);
}
.cards-5__picture--5 {
    background-image: url(../Product_imges/Product_41_img1.jpg);
    transform: translate(-94px, -6px);
}
.cards-5__picture--6 {
    background-image: url(../Product_imges/Product_42_img1.jpg);
    transform: translate(-94px, -6px);
}

.cards-5 {
     width: 342px;
}

.card-wuc {
     height: 450px;
    width: 340px;
}


}
@media (max-width:1298px) {
    .footer {
        height: 30%;
    }



    .footer .row > div > div > span:hover {
         transform: rotate(6deg) scale(1.1);
    }
}


@media (max-width:1282px) {
    .heading1 {
        width: 94%;
   }
.heading2 {
     width: 94%;
}
.heading3 {
     width: 94%;
}
.heading4 {
     width: 94%;
}
.heading5 {
     width: 94%;
}
}


@media (max-width:1272px) {
    #products {
        width: 98%;
    }
   }


   @media (max-width:1261px) {

   .images__cont-two {
    margin-left: 44px;
    width: 500px;
}
   }


   @media (max-width:1250px) {

    #home {
        height: 785px;
        background-position: center -10px;
    }

    .shop-now {
        left: 66.4% !important;
        top: 76% !important;
    }
 
    .images__cont {
    margin-left: 33px;
    width: 493px;
}


 }


   @media (max-width:1230px) {


    .shop-now {
        left: 66.6% !important;
     }

   .images__cont {
    margin-left: 44px;
    width: 487px;
}

.images__cont-two {
     width: 94%;
}

}
   @media (max-width:1200px) {

    .shop-now {
        left: 67.3% !important;
    }


   .logo {
     left: 28px;
   }

   .al-firdous {
     left: 14px;
   }


   }

@media (max-width:1199px) {




    .images__cont-two {
        width: 500px;
    }

    #carouselAP{
        display: none !important;
    }


.responsive-view{
    display: flex;
}

    .product-img4 .product-image{
        width: 282px;
        left: -23px;
    }


   .card-wb .front, .back {
     min-height: 366px;
   }

   .card-wb {
     width: 287px;
   }

   .cards-2 {
    width: 280px;
    height: 492px;
}


.price {
     width: 67%;
}

.price button {
     width: 152px !important;
left: 12px;
    }

    .imgBx {
         height: 21rem;
    }

    .contenntt ul p {
         margin-top: -14px;
    }
    
    .card-wuc {
        height: 390px;
        width: 296px;
    }
    .cards-5__side {
        width: 284px;
        height: 460px;
    }

    .cards-5__heading-span--1 {
         font-size: 22px;
    }
    .cards-5__heading-span--2 {
         font-size: 22px;
    }
    .cards-5__heading-span--3 {
         font-size: 22px;
    }
    .cards-5__heading-span--4 {
         font-size: 22px;
    }
    .cards-5__heading-span--5 {
         font-size: 22px;
    }
    .cards-5__heading-span--6 {
         font-size: 22px;
    }



    .button {
        margin: -94px 40% 110px;
    }

}

@media (max-width:1198px) {


 


    .products .row .card .btn {
        width: 246px;
    }

    .card-text-1 {
        top: 4px !important;
    }

    .btn-1 {
        top: 0px !important;
    }

    .card-text-18 {
        top: 4px !important;
    }

    .btn-18 {
        top: 0px !important;
    }


    .btn-21 {
        top: 0px !important;
    }


    .card-text-26 {
        top: 4px !important;
    }

    .btn-26 {
        top: 0px !important;
    }

    .card-text-36 {
        top: 4px !important;
    }

    .btn-36 {
        top: 0px !important;
    }



    .card-text-47 {
        top: 4px !important;
    }

    .btn-47 {
        top: 0px !important;
    }

    .card-text-48 {
        top: 4px !important;
    }

    .btn-48 {
        top: 0px !important;
    }


    .card-text-53 {
        top: 4px !important;
    }

    .btn-53 {
        top: 0px !important;
    }


    .card-text-57 {
        top: 4px !important;
    }

    .btn-57 {
        top: 0px !important;
    }

    .card-text-58 {
        top: 4px !important;
    }

    .btn-58 {
        top: 0px !important;
    }

    .card-text-60 {
        top: 4px !important;
    }

    .btn-60 {
        top: 0px !important;
    }


    .card-text-62 {
        top: 4px !important;
    }

    .btn-62 {
        top: 0px !important;
    }

    .card-text-65 {
        top: 4px !important;
    }

    .btn-65 {
        top: 0px !important;
    }

    .card-text-83 {
        top: 4px !important;
    }

    .btn-83 {
        top: 0px !important;
    }

 
}

@media (max-width:1194px) {
   
.nav-link-hover {
     margin: 0px 18px;
}

}

@media (max-width:1190px) {

    .logo {
        width: 238px;
        height: 250px;
    }

    .nav-link-hover {
        margin: 0px 15px;
    }
 
    
    .al-firdous {
        left: 18px;
    }    
}
@media (max-width:1164px) {

.shop-now {
    left: 67.5% !important;
    height: 9% !important;
    width: 15% !important;
}
}


@media (max-width:1150px) {

.responsive-cont{
    padding-left: 0px !important;
    padding-right: 62px !important;

}


.shop-now {
    left: 67.7% !important;
}
}

@media (max-width: 1130px){
.shop-now {
    left: 68.2% !important;
}
}

@media (max-width:1104px) {
 
    .shop-now {
        left: 68.6% !important;
    }


.responsive-cont {
    padding-left: 0px !important;
    padding-right: 103px !important;
}
}

@media (max-width:1100px) {
   
    .cooc-container {
         width: 101.5%;
    }
    
    .nav-link-hover {
        margin: 0px 12px;
    }

    .heading1 {
        animation: responsive-animation-h1 3s ease-in-out;
       animation-iteration-count: infinite;
   }
    .heading2 {
        animation: responsive-animation-h1 3s ease-in-out;
       animation-iteration-count: infinite;
   }
    .heading3 {
        animation: responsive-animation-h1 3s ease-in-out;
       animation-iteration-count: infinite;
   }
    .heading5 {
        animation: responsive-animation-h1 3s ease-in-out;
       animation-iteration-count: infinite;
   }
   
   
   @keyframes responsive-animation-h1{
    
    100% {
       font-size: 2rem;
       height: 7rem;
   }
   50% {
       font-size: 2.3rem;
       height: 7rem;
   }
   0% {
       font-size: 2rem;
       height: 7rem;
   }

   }
}

@media (max-width:1085px) {


    .shop-now {
        left: 68.9% !important;
        padding-top: 1% !important;
        height: 8% !important;
        width: 16% !important;
    }

.images__cont-two {
    width: 466px;
}


.product-img1 .product-image {
     width: 280px;
 }


}

@media (max-width: 1060px){
.images__cont-two {
    width: 430px;
}

.images__cont {
     width: 458px;
}

.shop-now {
    left: 69.4% !important;

}
}

@media (max-width:1055px) {
    .nav-link-hover {
        margin: 0px 10px;
    }

    .search {
        width: 130px !important;
        font-size: 18px !important;
    }



    
}


@media (max-width: 1044px){

    #home {
        height: 655px;
        background-position: center 0px;
    }

    .shop-now {
        left: 66.2% !important;
        top: 63% !important;
        font-size: 1.2rem !important;
        width: 14% !important;
        height: 7% !important;
    }
}



/* IPAD LANDSCAPE VIEW */

@media (max-width: 1024px) {

    #home {
        height: 642px;
     }


     .shop-now {
        left: 66.2% !important;
        top: 73% !important;
          height: 8% !important;
    }
    
 

    .product-img2 .product-heading {
         font-size: 1rem;
}

.product-img6 .product-heading {
     font-size: 1rem;
}
  
.product-img28 .product-heading {
     font-size: 1rem;
}

    .product-img1, .product-img2, .product-img3, .product-img4, .product-img5, .product-img6, .product-img7, .product-img8, .product-img9, .product-img10, .product-img11, .product-img12, .product-img25, .product-img26, .product-img27, .product-img28, .product-img29, .product-img30 {
         width: 18rem;
    }    

    .product-img1:hover, .product-img2:hover, .product-img3:hover, .product-img4:hover, .product-img5:hover, .product-img6:hover, .product-img7:hover, .product-img8:hover, .product-img9:hover, .product-img10:hover, .product-img11:hover, .product-img12:hover, .product-img25:hover, .product-img26:hover, .product-img27:hover, .product-img28:hover, .product-img29:hover, .product-img30:hover {
         width: 16rem;
     }

     .images__cont-two {
        width: 400px;
    }



.cards-5 {
    width: 296px;
}
} 
@media (width: 1024px) {

     
    .cooc-container {
        width: 1007px;
    }

     #products {
        width: 90%;
    }

  
} 
@media (max-width: 1022px) {
    .nav-link-hover {
        margin: 0px 8px;
    } 



    .images__cont {
        width: 442px;
    }

    .images__cont-two {
        margin-left: 10px;
    }




    .shop-now {
        left: 67% !important;
    }

}


@media (max-width: 1004px) {
    .nav-link-hover {
        margin: 0px 6px;
    }
 

    .search {
        width: 118px !important;
        font-size: 16px !important;
    }

    .products .row {
        --bs-gutter-x: 2rem !important;
    }


}

/* TABLET VIEW */


@media (max-width:991px) {


    .images__cont {
        width: 438px;
    }

    .images__cont-two {
        margin-left: 110px;
    }



    .navbar-brand{
        height: 8pc !important;
    }
    
    .logo {
        top: -73px;
        position: relative;
    
    }

    .al-firdous {
     top: 80px;
    }

    .responsive-nav {
        width: 90% !important;
        position: relative;
        top: -26px;
    }

    .navbar .active {
        margin: 50px 370px;
    }
    .nav-link-hover {
        margin: 34px 370px;
    }

    .dropdown_btn {
        padding: 12px 68px !important;
    }

    .dropdown .dropdown_btn:focus+.dropdown_menu,
    .dropdown .dropdown_btn:focus+.dropdown_menu:hover {
        left: 375px;
        opacity: 1;
        pointer-events: inherit;
        top: 112px;
    }


    .search-container {
        padding-top: 62px;
    }

    .offcanvas-body::-webkit-scrollbar {
        display: none;
    }


    .shop-now {
        left: 67.6% !important;
    }

    .mens__col-one {
         height: 35%;
    }

    .mens__col-men {
        font-size: 2.5rem;
        font-weight: 600;
    }
     


    .heading1 {
         top: 52px;
    }
    .heading2 {
         top: 52px;
    }
    .heading3 {
         top: 52px;
    }

    .heading4 {
        width: 100%;
        top: 52px;
    }
    .heading5 {
        width: 100%;
        top: 52px;
    }
    
    
    
    .products .row {
        padding-top: 114px !important;
    }

    .card-wb {
        width: 330px;
    }


    .cards-2 {
        width: 328px;
    }

    .card-wuc {
        height: 420px;
        width: 322px;
    }

    .cards-5__side {
        width: 320px;
    }

    .products .modal .row {
        padding-top: 0px !important;
    }



    .cp {
        margin-bottom: -2px;
    }

}

@media (max-width: 962px) {
    .shop-now {
        left: 68% !important;
        font-size: 1.1rem !important;
    }

    .images__cont-two {
    margin-left: 76px;
}

.images__cont {
    margin-left: 36px;
    width: 410px;
}


.mens__col-man {
     font-size: 1.2rem;
}

}

@media (max-width: 960px) {

    .shop-now {
        left: 68.5% !important;
    }    


.footer .row > div .image {
     left: 20%;
}
 
}

@media (max-width: 950px) {
 
    .dropdown_btn {
        padding: 12px 50px !important;
    }


    .shop-now {
         font-size: 1rem !important;
        height: 6% !important;
    }

}

@media (max-width: 940px) {
    .footer .row > div > div > span {
    width: 374px;
    font-size: 14px;
}
}


@media (max-width: 930px) {

    .shop-now {
        left: 69% !important;
    }

    .dropdown_btn {
        padding: 12px 38px !important;
    }

    .images__cont-two {
        width: 400px;
    }

}

@media (max-width: 920px) {

.images__cont {
    margin-left: 18px;
}

.images__cont-two {
    margin-left: 64px;
}

.button {
    margin: -94px 16% 110px;
}

.see-more-btn {
     margin: 26% 12% 110px;
}


.wucs-btn {
    margin: 58px 10% 110px !important;
}


.BSM-btn {
    margin: 24% 10% 110px !important;
}
}

@media (max-width: 900px) {

    .dropdown_btn {
        padding: 12px 22px !important;
    }

    .shop-now {
        left: 70% !important;
    }

    .shop-now-cooc {
        width: 185px !important;
        font-size: 1.4rem !important;
        left: 40% !important;
        top: 11em !important;
        height: 50px !important;
      }

    .footer .row > div > div > span:hover {
        color: aqua;
        background-color:rgb(41,40,40);
            transform: rotate(5deg) scale(1.2);
        }

    .footer .row > div .image {
         width: 156px;
    }    


}


@media (max-width: 896px) {
.shop-now {
    left: 69% !important;
     width: 16% !important;
     top: 66% !important;
 }
}

@media (max-width: 890px) {

.nav-link-hover {
    margin: 34px 354px;
}

.dropdown_btn {
    padding: 12px 40px !important;
}

.shop-now {
    left: 69.5% !important;
     top: 65% !important;
}

.images__cont-two {
    margin-left: 46px;
}


}

@media (max-width: 885px) {
 
.shop-now {
    left: 70.6% !important;
    top: 65% !important;
}


}

@media (max-width: 880px) {

    .dropdown_btn {
        padding: 12px 40px !important;
    }
}

@media (max-width: 872px) {

    .images__cont {
         width: 382px;
    }

.images__cont-two {
    width: 378px;
}
}


@media (max-width: 860px) {

    .navbar .active {
        margin: 50px 338px;
    }

    .nav-link-hover {
        margin: 34px 338px;
    }


    .footer .row > div > div > span {
         font-size: 13px;
    }


}

@media (max-width: 845px) {
.images__cont-two {
    margin-left: 24px;
}
}
@media (max-width: 844px) {

    .navbar .active {
        margin: 50px 330px;
    }

    .nav-link-hover {
        margin: 34px 330px;
    }

}

@media (max-width: 830px) {

    
    
    .heading1 {
        width: 78%;
    }
    .heading2 {
        width: 80%;
    }
    .heading3 {
        width: 80%;
    }
    .heading4 {
        width: 100%;
    }
    .heading5 {
        width: 80%;
    }

.footer ul {
    position: relative;
    top: 10px;
    left: 30px;
    font-size: 12px;
}

.footer ul li::before {
     top: -6px;
}



}


@media (max-width: 826px) {

    .navbar .active {
        margin: 50px 320px;
    }

    .nav-link-hover {
        margin: 34px 320px;
    }
 
    #home {
        height: 516px;
    }

    .shop-now {
        top: 51% !important;
        left: 66.6% !important;
        width: 13% !important;
        font-size: 0.7rem !important;
        height: 5% !important;
    }

    .images__cont {
        width: 360px;
    }

    .images__cont-two {
        margin-left: 6px;
    }

 

}


@media (max-width: 810px) {

    .navbar .active {
        margin: 50px 310px;
    }

    .nav-link-hover {
        margin: 34px 310px;
    }

    .shop-now {
         left: 67% !important;
    }

    .images__cont-two {
        margin-left: -4px;
    }

    .footer .row > div > div > span {
         position: relative;
        z-index: 1;
        width: 286px;
    }

    .footer .row > div .image {
        width: 130px;
    left: 15%;
    }

}



@media (max-width: 800px) {

    .navbar .active {
        margin: 50px 300px;
    }

    .nav-link-hover {
        margin: 34px 300px;
    }

    .shop-now {
        left: 67.5% !important;
    }



    .images__cont {
        width: 337px;
    }

    .images__cont-two {
        margin-left: -13px;
        width: 374px;
    }
}


@media (max-width: 790px) {

    .shop-now {
         width: 14% !important;
         left: 67.4% !important;
    }

    .images__cont-two {
    margin-left: -25px;
}
}
@media (max-width: 780px) {

    .shop-now {
        left: 67.9% !important;
    }

    .images__cont-two {
        margin-left: -40px;
    }

.footer .row > div .image {
     left: 34%;
}
}

@media (max-width: 770px) {

    .navbar .active {
        margin: 50px 290px;
    }

    .nav-link-hover {
        margin: 34px 290px;
    }

}


/* iPad portrait */

@media (max-width: 768px) {

    .dropdown .dropdown_btn:focus+.dropdown_menu,
    .dropdown .dropdown_btn:focus+.dropdown_menu:hover {
        left: 293px;
        pointer-events: inherit;
        top: 108px;
    } 

    .heading4 {
        width: 86%;
    }
    .shop-now {
        top: 44% !important;
         height: 4% !important;
    }
    
    #products {
        width: 100%;
    }    

    .cooc-container {
        width: 751px;
    }

}

/* MOBILE VIEW */


@media (max-width: 767px) {
  

    .empty-space {
        margin: 132px 39px;
    }



    .see-more-btn {
        margin: 26% 28% 110px;
    }


    .wucs-btn {
        margin: 58px 34% 110px !important;
    }

    .BSM-btn {
        margin: 24% 35% 110px !important;
    }

    .images__cont {
        width: 650px;
        margin-left: 46px;
    }
    .images__cont-two {
        width: 650px;
        margin-left: -53px;
    }

    .modal-dialog .card-body{
        width: 300px;
            }

     
    .card-wb {
        width: 500px;
     }

     .card-wb .front, .back {
        min-height: 438px;
    }

    .cards-2 {
        width: 490px;
    }

    .imgBx {
        height: 23rem;
    }


    .card-wuc {
        height: 520px;
        width: 534px;
    }

    .cards-5__side {
        width: 520px;
    }

    .cosmetics{
        display: none !important; 
    }
    .heading3{
        display: none;
    }

    .cards-5__side {
        width: 520px;
    }
    
    .cards-5__picture {
         width: 518px;
    }


    .cards-5__picture--1 {
        background-image: url(../Product_imges/Product_37_img1.jpg);
        transform: translate(1px, -6px);
    }
    .cards-5__picture--2 {
        background-image: url(../Product_imges/Product_38_img1.jpg);
        transform: translate(1px, -6px);
    }
    .cards-5__picture--3 {
        background-image: url(../Product_imges/Product_39_img1.jpg);
        transform: translate(1px, -6px);
    }
    .cards-5__picture--4 {
        background-image: url(../Product_imges/Product_40_img1.jpg);
        transform: translate(1px, -56px);
        height: 520px;
    }
    .cards-5__picture--5 {
        background-image: url(../Product_imges/Product_41_img1.jpg);
        transform: translate(1px, -6px);
    }

    .cards-5__picture--6 {
        background-image: url(../Product_imges/Product_42_img1.jpg);
        transform: translate(1px, -6px);
    }


    .cards-5__heading-span--1 {
        font-size: 32px;
    }

    .price button {
        width: 190px !important;
        left: 20px;
    }
   
    .cards-2-card-19-responsive{
        display: none;
    }
    .cards-2-card-20-responsive{
        display: none;
    }
    .cards-2-card-21-responsive{
        display: none;
    }
    .cards-2-card-22-responsive{
        display: none;
    }
    .cards-2-card-23-responsive{
        display: none;
    }
    .cards-2-card-24-responsive{
        display: none;
    }

    .product_card_img_modal-1 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-1:hover img {
        width: 597px;
    }


    .product_card_img_modal-2 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-2:hover img {
        width: 597px;
    }


    .product_card_img_modal-4 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-4:hover img {
        width: 597px;
    }




    .product_card_img_modal-5 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-5:hover img {
        width: 597px;
    }


     .product_card_img_modal-16 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-16:hover img {
        width: 597px;
    }


     .product_card_img_modal-35 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-35:hover img {
        width: 597px;
    }

         .product_card_img_modal-36 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-36:hover img {
        width: 597px;
    }


         .product_card_img_modal-54 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-54:hover img {
        width: 597px;
    }


    
    

    
    
         .product_card_img_modal-68 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-68:hover img {
        width: 597px;
    }



    
         .product_card_img_modal-72 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-72:hover img {
        width: 597px;
    }

    
    
         .product_card_img_modal-73 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-73:hover img {
        width: 597px;
    }


    
         .product_card_img_modal-57 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-57:hover img {
        width: 597px;
    }




    
         .product_card_img_modal-74 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-74:hover img {
        width: 597px;
    }



         .product_card_img_modal-78 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-78:hover img {
        width: 597px;
    }


         .product_card_img_modal-84 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-84:hover img {
        width: 597px;
    }

    .modal-dialog {
        height: 1270px;
    }

    .button {
        margin: -94px 22% 110px;
    }

    .footer {
        height: 65%;
    }


    .footer-1 {
        height: 490px;
    }

    .footer .row > div .image {
        left: 0%;
        width: 178px;

    }

    .footer ul {
        position: relative;
        top: 0px;
        left: 0px;
        font-size: 18px;
        justify-content: center;
    }

    .footer .row b {
         font-size: 20px;
    }

    .footer .row > div > div > a.sf {
        width: 124px;
         font-size: 24px;
}

    .footer .row > div > div > a{
        width: 168px;
        font-size: 24px;
}
    .footer .row > div > div > a.em{
        width: 226px;
        font-size: 24px;
    }

    .footer .row > div > div > span {
         width: 474px;
         font-size: 22px;
        }

        .footer ul li a .brands {
            font-size: 2em;
        }

        .footer ul li::before {
            top: -8px;
        }

        .footer ul li:nth-child(1)::before {
            font-size: 2em;
        }


        .footer ul li:nth-child(2)::before {
            font-size: 2em;
        }


        .footer ul li:nth-child(3)::before {
            font-size: 2em;
        }

        .footer ul li:hover::before {
            height: 52px;
        }
 
}

@media (max-width: 750px) {
    
    .navbar .active {
        margin: 50px 270px;
    }
    
    .nav-link-hover {
        margin: 34px 270px;
    }
    
    .shop-now {
        left: 68.9% !important;
    }
    
    
}

@media (width: 736px) {
.shop-now {
    top: 25rem !important;
    height: 11% !important;
}

.cooc-container {
    width: 719px;
}


}



@media (max-width: 735px) {
    .shop-now {
        width: 15% !important;
    }
}     
@media (width: 734px) {
  
    .navbar-nav-responsive{
        overflow-y: scroll;
    }

    .navbar-nav-responsive2{
        display: none !important;
    }
  
    .shop-now {
        top: 25rem !important;
        height: 10% !important;
    }

    .cooc-container {
        width: 100%;
    }

    .heading4 {
        width: 100%;
    }    

}
    /* iPhone eXpensive landscape */
 

    @media (max-width: 727px) {

    .footer .row > div > div > span {
        width: 432px;
        font-size: 20px;
    }
    }

    @media (max-width: 720px) {

    .images__cont {
        width: 636px;
        margin-left: 43px;
    }

    .images__cont-two {
        width: 638px;
        margin-left: -56px;
    }




    }
    @media (max-width: 700px) {

        .navbar .active {
            margin: 50px 260px;
        }

        .nav-link-hover {
            margin: 34px 260px;
        }

        .shop-now {
            left: 69.9% !important;
        }

        .images__cont {
             margin-left: 24px;
        }

        .images__cont-two {
            width: 636px;
            margin-left: -72px;
        }

    }



    @media (max-width: 690px) {

        .navbar .active {
            margin: 50px 250px;
        }

        .nav-link-hover {
            margin: 34px 250px;
        }

        .shop-now {
            left: 70.9% !important;
        }

    }

    @media (max-width: 684px) {

        .navbar-nav-responsive{
            overflow-y: scroll;
        }
    
        .navbar-nav-responsive2{
            display: none !important;
        }

        .shop-now {
        top: 25rem !important;
        height: 9% !important;
        width: 16% !important;
        left: 70% !important;
    }
  
    .cooc-container {
        width: 100%;
    }

    .heading4 {
        width: 100%;
    }

}
    
    @media (max-width: 680px) {

        #home {
            height: 423px;
        }

        .shop-now {
            left: 66.3% !important;
            top: 42% !important;
            font-size: 0.5rem !important;
            height: 4% !important;
            width: 14% !important;
        }

    .images__cont {
        margin-left: 16px;
    }

    .images__cont-two {
         margin-left: -79px;
    }

    }

    /* Android (Pixel 2) landscape */
 

    @media (max-width: 670px) {

        .navbar .active {
            margin: 22px 235px;
        }

        .nav-link-hover {
            margin: 22px 235px;
        }

        .shop-now {
            left: 66.6% !important;
        }

        .images__cont {
width: 600px;
        }
        .images__cont-two {
width: 600px;
        }

    }

    @media (width: 667px){

        .navbar-nav-responsive{
            overflow-y: scroll;
        }

        .navbar-nav-responsive2{
            display: none !important;
        }
        
        .shop-now {
             top: 20rem !important;
             height: 10% !important;
         }


        .cooc-container {
    width: 650px;
}
}

    @media (max-width: 650px) {
    .shop-now {
        left: 67.6% !important;
    }
    }
    @media (max-width: 640px) {

        .navbar .active {
            margin: 50px 225px;
        }

        .nav-link-hover {
            margin: 34px 225px;
        }

        .images__cont {
            width: 580px;
        }

        .images__cont-two {
            width: 580px;
        }

    }

    @media (max-width: 630px) {

        .navbar .active {
            margin: 34px 210px;
        }

        .nav-link-hover {
            margin: 34px 210px;
        }
        .shop-now {
            left: 67.6% !important;
            width: 15% !important;
        }


        .images__cont {
            width: 560px;
        }

        .images__cont-two {
            width: 560px;
        }

    }



    @media (max-width: 600px) {

        .navbar .active {
            margin: 50px 200px;
        }

        .nav-link-hover {
            margin: 34px 200px;
        }

        .shop-now {
            left: 69.6% !important;
        }


        .images__cont {
            width: 540px;
        }

        .images__cont-two {
            width: 540px;
        }

        .shop-now-cooc {
             left: 33% !important;
        }
        .heading4 {
            width: 96%;
        }

    }

    @media (max-width: 593px) {

    .heading1 {
        width: 90%;
    }
    .heading2 {
        width: 90%;
    }
    .heading3 {
        width: 90%;
    }
    .heading4 {
        width: 82%;
    }
    .heading5 {
        width: 90%;
    }
    }

    @media (max-width: 590px) {

        .navbar .active {
            margin: 50px 190px;
        }

        .nav-link-hover {
            margin: 50px 190px;
        }

    }


    @media (max-width: 580px) {
    .shop-now {
        left: 69.3% !important;
    width: 16% !important;
    }
    }

    @media (max-width: 575px) {

        .navbar .active {
            margin: 50px 180px;
        }

        .nav-link-hover {
            margin: 34px 180px;
        }


        .logo {
            left: -38px;
        }

        .shop-now {
            left: 70.6% !important;
        }
        .products .row {
            --bs-gutter-x: 0rem !important;
        }

        .card-wuc {
             width: 526px;
        }
        
        .images__cont {
            width: 510px;
        }

        .images__cont-two {
            width: 510px;
        }
            
    }

    @media (max-width: 570px) {


        #home {
            height: 353px;
  background-image: url(../img/banner-2.png);
            
        }

    .shop-now {
        left: 64.2% !important;
        top: 35%!important;
    }
    }
    @media (max-width: 554px) {
    .card-wuc {
        width: 100%;
    }
    }

    @media (max-width: 550px) {
    
        .shop-now {
             width: 17% !important;
             left: 64.4% !important;
        }

        .images__cont {
            width: 480px;
        }
        .images__cont-two {
            width: 480px;
        }
        .cards-5 {
            width: 100%;
        }

        .cards-5__side {
            width: 100%;
}
     
        
    }

    @media (max-width: 540px) {

    .card-wb {
        width: 100%;
    }

    .cards-2 {
        width: 100%;
    }

    }
 
    @media (max-width: 520px) {
    .shop-now {
        width: 18% !important;
        left: 65.4% !important;
    }

    .images__cont {
        width: 462px;
    }

    .images__cont-two {
        width: 462px;
    }


    }


    @media (max-width: 504px) {


        .images__cont {
            width: 444px;
        }

        .images__cont-two {
            width: 444px;
        }

        .shop-now {
             left: 66.4% !important;
        }

        .footer .row > div > div > a.sf {
            width: 104px;
             font-size: 20px;
        }

    .footer .row > div > div > span {
        width: 388px;
        font-size: 18px;
    }

    .footer .row > div > div > a {
        width: 138px;
        font-size: 20px;
    }

    }

    /* iPhone 6-8 Plump portrait */
    @media (max-width: 414px) {
 

        #home {
            height: 290px;
        }        


        .navbar {
            height: 68px;
        }

        .navbar-brand {
            height: 7pc !important;
        }

         .logo {
            width: 100%;
            height: 142px;
            left: -5px;
            top: -17px;
        }
        
        .navbar .active {
            margin: 4px 120px;
        }

        .nav-link-hover {
            margin: 26px 120px;
        }


        .dropdown_btn {
            padding: 12px 30px !important;
        }

        .dropdown .dropdown_btn:focus+.dropdown_menu,
        .dropdown .dropdown_btn:focus+.dropdown_menu:hover {
            left: 125px;
            pointer-events: inherit;
            top: 104px;
        }
        
        .shop-now {
            width: 19% !important;
            font-size: 0.5rem !important;
            left: 66% !important;
            top: 32% !important;
            height: 4%!important;
        }


        .heading1 {
             left: 20px;
        }

        #products {
            width: 92%;
        }
 
        .images__cont {
            width: 370px;
        }

        .images__cont-two {
            width: 370px;
        }

        .empty-space {
            margin: 2px 8px;
        }

        .cards-2 {
             left: 20px;
        }

        .cards-5__picture {
            width: 100%;
        }


        .cooc-container {
            width: 395px;
        }


        .shop-now-cooc {
            left: 27% !important;
        }

.product_card_img_modal-1 img {
    width: 597px;
    position: relative;
    left: 0px;
}


.product_card_img_modal-1 img {
     left: 0px;
}
 

.product_card_img_modal- img {
    width: 597px;
    position: relative;
    left: 0px;
}



.product_card_img_modal-2 img {
     left: 0px;
}
 

.product_card_img_modal-3 img {
    width: 597px;
    position: relative;
    left: 0px;
}



.product_card_img_modal-3 img {
    left: 0px;
}



.product_card_img_modal-4 img {
    width: 597px;
    position: relative;
    left: 0px;
}



.product_card_img_modal-4 img {
     left: 0px;
}


.product_card_img_modal-5 img {
    width: 597px;
    position: relative;
    left: 0px;
}



.product_card_img_modal-5 img {
     left: 0px;
}


.product_card_img_modal-16 img {
    width: 597px;
    position: relative;
    left: 0px;
}



 .product_card_img_modal-16 img {
     left: 0px;
}


.product_card_img_modal-35 img {
    width: 597px;
    position: relative;
    left: 0px;
}



 .product_card_img_modal-35 img {
     left: 0px;
}


.product_card_img_modal-36 img {
    width: 597px;
    position: relative;
    left: 0px;
}



     .product_card_img_modal-36 img {
     left: 0px;
}


.product_card_img_modal-54 img {
    width: 597px;
    position: relative;
    left: 0px;
}



     .product_card_img_modal-54 img {
     left: 0px;
}


.product_card_img_modal-68 img {
    width: 597px;
    position: relative;
    left: 0px;
}



     .product_card_img_modal-68 img {
     left: 0px;
}
 


.product_card_img_modal-72 img {
    width: 597px;
    position: relative;
    left: 0px;
}



     .product_card_img_modal-72 img {
     left: 0px;
}
 

.product_card_img_modal-73 img {
    width: 597px;
    position: relative;
    left: 0px;
}



     .product_card_img_modal-73 img {
     left: 0px;
}
 

.product_card_img_modal-57 img {
    width: 597px;
    position: relative;
    left: 0px;
}




     .product_card_img_modal-57 img {
     left: 0px;
}
 


.product_card_img_modal-74 img {
    width: 597px;
    position: relative;
    left: 0px;
}



     .product_card_img_modal-74 img {
     left: 0px;
}


.product_card_img_modal-78 img {
    width: 597px;
    position: relative;
    left: 0px;
}



     .product_card_img_modal-78 img {
     left: 0px;
}
 


.product_card_img_modal-84 img {
    width: 597px;
    position: relative;
    left: 0px;
}



     .product_card_img_modal-84 img {
     left: 0px;
}
 

.card-wuc {
     left: 20px;
}

.heading4 {
     left: 20px;
}

.cards-5 {
     left: 15px;
}

@keyframes responsive-animation-h1 {
    
100% {
    font-size: 1.3rem;
    height: 7rem;
}
50% {
    font-size: 1.6rem;
    height: 7rem;
}
0% {
    font-size: 1.3rem;
    height: 7rem;
}
}

        .footer .container {
            width: 60%;
        }
 


        .footer .row > div > div > span {
            width: 302px;
            font-size: 14px;
        }

        .footer .row > div > div > a {
            width: 124px;
            font-size: 18px;
        }


    }
    @media (max-width: 412px) {

    .price button {
        width: 134px !important;
        left: 18px;
    }
    }

    @media (max-width: 375px) {
        .logo {
            width: 87%;
            height: 120px;
        }

        .al-firdous {
            top: 85px;
        left: 10px;
        }


        .nav-link-hover {
            margin: 26px 97px;
        }
        
        .shop-now {
            width: 22% !important;
            font-size: 0.5rem !important;
            height: 4%!important;
            top: 31% !important;
            left: 67% !important;
        }



        
        #products {
            width: 87%;
        }

        .images__cont {
            width: 330px;
        }

        .images__cont-two {
            width: 330px;
        }

        
          .price button {
            width: 140px !important;
            left: 5px;
        }
 

        .cooc-container {
    width: 357px;
}
          .footer .row > div > div > span {
            width: 262px;
            font-size: 15px;
        }
   
        .footer-1 {
            height: 524px;
        }

   
    }
