/* DESKTOP VIEW*/
 @media (max-width:1400px) {
    #home {
        height: 800px;
    }

    .shop-now {
        left: 928px !important;
        top: 524px !important;
        height: 74px !important;
}

.heading1 {
     width: 50%;
}


.heading4 {
     width: 96%;
}
   

.button {
    margin:-94px 32% 110px;
}
.all-products {
    padding-left: 13% !important;
    padding-right: 0px !important;
}
 
.images__cont {
     margin-left: 44px;
    width: 535px;
}

.images__cont-two {
     margin-left: 44px;
    width: 535px;
}


.images__img {
     transform: scale(1) translateY(-54px);
}



.wucs-btn {
    margin: 24% 32% 110px !important;
}

.BSM-btn{
    margin: 24% 36% 110px !important;
}

 }


/* LAPTOP VIEW */



@media (max-width:1366px) {

    #home {
        height: 697px;
    }    
    .shop-now {
        left: 66.4% !important;
        top: 77% !important;
     }

}

 

@media (max-width:1350px) {

    .shop-now {
        left: 66.4% !important;
        top: 500px !important;
    }
 
    #products {
        width: 1310px;
    }


  

}

@media (max-width:1344px) {

.button {
    margin: -94px 30% 110px;
}
}


@media (max-width:1340px) {

    #products {
        width: 1290px;
    }
}

@media (max-width:1330px) {

    #products {
        width: 1270px;
    }
}

@media (max-width:1320px) {

    #products {
        width: 1240px;
    }

    .cards-2 {
     
        width: 352px; 
    }

    .price button {
         width: 134px !important;
    }

}

@media (max-width:1304px) {
 .row{
    width:100% ;
 }
 

 .heading4 {
     animation: responsive-animation-h1 3s ease-in-out;
    animation-iteration-count: infinite;
}


@keyframes responsive-animation-h1{
 
 100% {
    font-size: 2rem;
    height: 7rem;
}
50% {
    font-size: 2.3rem;
    height: 7rem;
}
0% {
    font-size: 2rem;
    height: 7rem;
}
}
}
@media (max-width:1300px) {


    .shop-now {
         top: 455px !important;
    }

    .button {
        margin: -94px 48% 110px;
    }


.cards-5__side {
     width: 340px;
}

.cards-5__picture--1 {
    background-image: url(../Product_imges/Product_37_img1.jpg);
    transform: translate(-94px, -6px);
}
.cards-5__picture--2 {
    background-image: url(../Product_imges/Product_38_img1.jpg);
    transform: translate(-94px, -6px);
}
.cards-5__picture--3 {
    background-image: url(../Product_imges/Product_39_img1.jpg);
    transform: translate(-94px, -6px);
}
.cards-5__picture--4 {
    background-image: url(../Product_imges/Product_40_img1.jpg);
    transform: translate(-94px, -6px);
}
.cards-5__picture--5 {
    background-image: url(../Product_imges/Product_41_img1.jpg);
    transform: translate(-94px, -6px);
}
.cards-5__picture--6 {
    background-image: url(../Product_imges/Product_42_img1.jpg);
    transform: translate(-94px, -6px);
}

.cards-5 {
     width: 342px;
}

.card-wuc {
     height: 450px;
    width: 340px;
}


}
@media (max-width:1298px) {
    .footer {
        height: 30%;
    }



    .footer .row > div > div > span:hover {
         transform: rotate(6deg) scale(1.1);
    }
}


@media (max-width:1282px) {
    .heading1 {
        width: 94%;
   }
.heading2 {
     width: 94%;
}
.heading3 {
     width: 94%;
}
.heading4 {
     width: 94%;
}
.heading5 {
     width: 94%;
}
}


@media (max-width:1272px) {
    #products {
        width: 98%;
    }
   }


   @media (max-width:1261px) {

   .images__cont-two {
    margin-left: 44px;
    width: 500px;
}
   }


   @media (max-width:1250px) {

    #home {
         background-position: center -146px;
    }

    .shop-now {
         top: 462px !important;
    }
 
    .images__cont {
    margin-left: 33px;
    width: 493px;
}


 }


   @media (max-width:1230px) {


    #home {
        background-position: center -142px;
    }

    .shop-now {
        left: 66.3% !important;
        top: 435px !important;
     }

   .images__cont {
    margin-left: 44px;
    width: 487px;
}

.images__cont-two {
     width: 94%;
}

}
   @media (max-width:1200px) {

    #home {
        background-position: center -123px;
    }

   .logo {
     left: 28px;
   }

   .shop-now {
     top: 458px !important;
}

   .al-firdous {
     left: 14px;
   }


   .heading1 {
    width: 54%;
    left: 6%;
}
   .heading2 {
    width: 54%;
    left: 1%;
}
   .empty-space {
    margin: 166px auto 60px;
   }

   .cooc-container {
     width: 100vw;
}

.CSM-btn {
    margin: -94px 27% 110px !important;
}


.BSM-btn {
    margin: 52px 31% 110px !important;
}


   }

@media (max-width:1199px) {

    .images__cont-two {
        width: 500px;
    }

    #carouselAP{
        display: none !important;
    }

    .heading1 {
         left: 4%;
    }

.responsive-view{
    display: flex;
}

    .product-img4 .product-image{
        width: 282px;
        left: -23px;
    }


   .card-wb .front, .back {
     min-height: 366px;
   }

   .card-wb {
     width: 287px;
   }

   .cards-2 {
    width: 280px;
    height: 492px;
}


.price {
     width: 67%;
}

.price button {
     width: 152px !important;
left: 12px;
    }

    .imgBx {
         height: 21rem;
    }

    .contenntt ul p {
         margin-top: -14px;
    }
    
    .card-wuc {
        height: 390px;
        width: 296px;
    }
    .cards-5__side {
        width: 284px;
        height: 460px;
    }

    .cards-5__heading-span--1 {
         font-size: 22px;
    }
    .cards-5__heading-span--2 {
         font-size: 22px;
    }
    .cards-5__heading-span--3 {
         font-size: 22px;
    }
    .cards-5__heading-span--4 {
         font-size: 22px;
    }
    .cards-5__heading-span--5 {
         font-size: 22px;
    }
    .cards-5__heading-span--6 {
         font-size: 22px;
    }



    .button {
        margin: -94px 40% 110px;
    }

}

@media (max-width:1198px) {


 


    .products .row .card .btn {
        width: 246px;
    }

    .card-text-1 {
        top: 4px !important;
    }

    .btn-1 {
        top: 0px !important;
    }

    .card-text-18 {
        top: 4px !important;
    }

    .btn-18 {
        top: 0px !important;
    }


    .btn-21 {
        top: 0px !important;
    }


    .card-text-26 {
        top: 4px !important;
    }

    .btn-26 {
        top: 0px !important;
    }

    .card-text-36 {
        top: 4px !important;
    }

    .btn-36 {
        top: 0px !important;
    }



    .card-text-47 {
        top: 4px !important;
    }

    .btn-47 {
        top: 0px !important;
    }

    .card-text-48 {
        top: 4px !important;
    }

    .btn-48 {
        top: 0px !important;
    }


    .card-text-53 {
        top: 4px !important;
    }

    .btn-53 {
        top: 0px !important;
    }


    .card-text-57 {
        top: 4px !important;
    }

    .btn-57 {
        top: 0px !important;
    }

    .card-text-58 {
        top: 4px !important;
    }

    .btn-58 {
        top: 0px !important;
    }

    .card-text-60 {
        top: 4px !important;
    }

    .btn-60 {
        top: 0px !important;
    }


    .card-text-62 {
        top: 4px !important;
    }

    .btn-62 {
        top: 0px !important;
    }

    .card-text-65 {
        top: 4px !important;
    }

    .btn-65 {
        top: 0px !important;
    }

    .card-text-83 {
        top: 4px !important;
    }

    .btn-83 {
        top: 0px !important;
    }

 
}

@media (max-width:1194px) {
   
.nav-link-hover {
     margin: 0px 18px;
}

}

@media (max-width:1190px) {

    #home {
        background-position: center -114px;
    }

    .logo {
        width: 238px;
        height: 250px;
    }

    .nav-link-hover {
        margin: 0px 15px;
    }
 
    
    .al-firdous {
        left: 18px;
    }    
}
@media (max-width:1164px) {

    #home {
        background-position: center -95px;
    }

    .shop-now {
         top: 480px !important;
        height: 9% !important;
        width: 14% !important;
        padding-top: 0.8% !important;
    }
}

@media (max-width:1150px) {

.responsive-cont{
    padding-left: 0px !important;
    padding-right: 62px !important;

}

}

@media (max-width: 1130px){

    #home {
        background-position: center -65px;
    }
 }

@media (max-width:1104px) {
  
.responsive-cont {
    padding-left: 0px !important;
    padding-right: 103px !important;
}
}

@media (max-width:1100px) {
   
    #home {
        background-position: center -61px;
    }

    .cooc-container {
         width: 102%;
    }
    
    .nav-link-hover {
        margin: 0px 12px;
    }

    .heading1 {
        animation: responsive-animation-h1 3s ease-in-out;
       animation-iteration-count: infinite;
       left: 2%;
    }
 
    .heading2 {
        animation: responsive-animation-h1 3s ease-in-out;
       animation-iteration-count: infinite;
       left: 3%;
   }
    .heading3 {
        animation: responsive-animation-h1 3s ease-in-out;
       animation-iteration-count: infinite;
   }
    .heading5 {
        animation: responsive-animation-h1 3s ease-in-out;
       animation-iteration-count: infinite;
   }
   
   
   @keyframes responsive-animation-h1{
    
    100% {
       font-size: 2rem;
       height: 7rem;
   }
   50% {
       font-size: 2.3rem;
       height: 7rem;
   }
   0% {
       font-size: 2rem;
       height: 7rem;
   }

   }
   .responsive-jew {
    left: 4%;
    position: relative;
}

.see-more-btn {
    margin: 26% 20% 110px;
}


.responsive-wuc {
    left: 4%;
    position: relative;
}

.responsive-brd {
    left: 4%;
    position: relative;
}

}

@media (max-width:1085px) {

    #home {
        background-position: center -54px;
    }

    .shop-now {
         padding-top: 0.5% !important;
        height: 8% !important;
     }

.images__cont-two {
    width: 466px;
}


.product-img1 .product-image {
     width: 280px;
 }


}

@media (max-width:1074px) {


    .shop-now {
        left: 66.7% !important;
    }

#products {
    width: 94%;
}


.responsive-view {
    position: relative;
    left: 2.5%;
}

.product-img4 .product-image {
     left: -6px;
}

.cooc-container {
    width: 106%;
}

.shop-now-cooc {
     left: 40% !important;
}


.heading3 {
    width: 46%;
    left: 5%;
}

.cosmetics {
     left: 1%;
    position: relative;
}

.CSM-btn {
    margin: -94px 34% 110px !important;
}

}
@media (max-width: 1060px){
.images__cont-two {
    width: 430px;
}

.images__cont {
     width: 458px;
}

.shop-now {
    left: 67% !important;
}

}

@media (max-width:1055px) {
    .nav-link-hover {
        margin: 0px 10px;
    }

    .search {
        width: 130px !important;
        font-size: 18px !important;
    }



    
}


@media (max-width: 1044px){

    #home {
        height: 655px;
        background-position: center -24px;
    }

    .shop-now {
        left: 66.2% !important;
          font-size: 1.2rem !important;
        width: 14% !important;
        height: 46px !important;
    }
}



/* IPAD LANDSCAPE VIEW */

@media (max-width: 1024px) {

    #home {
        height: 642px;
        background-position: center -10px;
     }

     .shop-now {
        left: 66.2% !important;
        top: 490px !important;
        height: 7% !important;
    }
 

    .product-img2 .product-heading {
         font-size: 1rem;
}

.product-img6 .product-heading {
     font-size: 1rem;
}
  
.product-img28 .product-heading {
     font-size: 1rem;
}

    .product-img1, .product-img2, .product-img3, .product-img4, .product-img5, .product-img6, .product-img7, .product-img8, .product-img9, .product-img10, .product-img11, .product-img12, .product-img25, .product-img26, .product-img27, .product-img28, .product-img29, .product-img30 {
         width: 18rem;
    }    

    .product-img1:hover, .product-img2:hover, .product-img3:hover, .product-img4:hover, .product-img5:hover, .product-img6:hover, .product-img7:hover, .product-img8:hover, .product-img9:hover, .product-img10:hover, .product-img11:hover, .product-img12:hover, .product-img25:hover, .product-img26:hover, .product-img27:hover, .product-img28:hover, .product-img29:hover, .product-img30:hover {
         width: 16rem;
     }

     .images__cont-two {
        width: 400px;
    }



.cards-5 {
    width: 296px;
}
} 
@media (width: 1024px) {

    .shop-now {
         top: 496px !important;
     }
     
    .cooc-container {
        width: 1007px;
    }

     #products {
        width: 90%;
    }

  
} 
@media (max-width: 1022px) {
    .nav-link-hover {
        margin: 0px 8px;
    } 



    .images__cont {
        width: 442px;
    }

    .images__cont-two {
        margin-left: 10px;
    }
 
}
@media (max-width: 1012px) {

#products {
    width: 93%;
}

.cooc-container {
    width: 107%;
}

}

@media (max-width: 1004px) {
    
    #home {
         background-position: center 2px;
    }
    
    .nav-link-hover {
        margin: 0px 6px;
    }

    .shop-now {
        left: 66.4% !important;
    }    

    .search {
        width: 118px !important;
        font-size: 16px !important;
    }



    
    .products .row {
        --bs-gutter-x: 2rem !important;
    }


}

/* TABLET VIEW */


@media (max-width:991px) {

    
    .logo {
        left: -32px;
    }

    .shop-now {
        left: 66.6% !important;
        font-size: 17px !important;
          padding-top: 0.7% !important;
    }
    

    .images__cont {
        width: 438px;
    }

    .images__cont-two {
        margin-left: 110px;
    }



    .navbar-brand{
        height: 8pc !important;
    }
    
    .logo {
        top: -73px;
        position: relative;
    
    }

    .al-firdous {
     top: 80px;
    }

    .responsive-nav {
        width: 90% !important;
        position: relative;
        top: -26px;
    }

    .navbar .active {
        margin: 50px 370px;
    }
    .nav-link-hover {
        margin: 34px 370px;
    }

    .dropdown_btn {
        padding: 12px 68px !important;
    }

    .dropdown .dropdown_btn:focus+.dropdown_menu,
    .dropdown .dropdown_btn:focus+.dropdown_menu:hover {
        left: 375px;
        opacity: 1;
        pointer-events: inherit;
        top: 112px;
    }


    .search-container {
        padding-top: 62px;
    }

    .offcanvas-body::-webkit-scrollbar {
        display: none;
    }
 

    .mens__col-one {
         height: 35%;
    }

    .mens__col-men {
        font-size: 2.5rem;
        font-weight: 600;
    }
     


    .heading1 {
         top: 52px;
    }

    .responsive-view {
         left: 3.5%;
    }

    .button {
        margin: -71px 18% 110px;
    }

    .heading2 {
         top: 52px;
    }

    .responsive-jew {
        left: 1%;
     }

     .see-more-btn {
        margin: 26% 15% 110px;
    }


    .heading3 {
         top: 52px;
    }

    .cosmetics {
        padding-top: 2rem;
    }

    .CSM-btn {
        margin: -61px 15% 110px !important;
    }

    .heading4 {
        width: 100%;
        top: 52px;
    }

    .wucs-btn {
        margin: 32% 16% 110px !important;
    }
    
    .heading5 {
        width: 100%;
        top: 52px;
    }
    
    
    
    .products .row {
        padding-top: 114px !important;
    }

    .card-wb {
        width: 330px;
    }


    .cards-2 {
        width: 328px;
    }

    .card-wuc {
        height: 420px;
        width: 322px;
    }

    .cards-5__side {
        width: 320px;
    }

    .products .modal .row {
        padding-top: 0px !important;
    }



    .cp {
        margin-bottom: -2px;
    }

}

@media (max-width: 962px) {
    .shop-now {
        left: 67.4%  !important;
        font-size: 1.1rem !important;
    }

    .images__cont-two {
    margin-left: 76px;
}

.images__cont {
    margin-left: 36px;
    width: 410px;
}


.mens__col-man {
     font-size: 1.2rem;
}

}

@media (max-width: 960px) {

 


.footer .row > div .image {
     left: 20%;
}
 
}

@media (max-width: 950px) {
 
    .dropdown_btn {
        padding: 12px 50px !important;
    }
 
    .shop-now {
        left: 67.7% !important;
    }    


}

@media (max-width: 940px) {
    .footer .row > div > div > span {
    width: 374px;
    font-size: 14px;
}
}


@media (max-width: 930px) {


    .shop-now {
        left: 68.5% !important;
    }
    .dropdown_btn {
        padding: 12px 38px !important;
    }

    .images__cont-two {
        width: 400px;
    }

}

@media (max-width: 920px) {

.images__cont {
    margin-left: 18px;
}

.images__cont-two {
    margin-left: 64px;
}

.button {
    margin: -48px 15% 110px;
}

.responsive-jew {
    left: 2.5%;
}


.see-more-btn {
    margin: 37% 12% 110px;
}

.CSM-btn {
    margin: -46px 13% 110px !important;
}

.wucs-btn {
    margin: 82px 11% 110px !important;
}

.heading5 {
     left: -1%;
}

.BSM-btn {
    margin: 40% 10% 110px !important;
}
}

@media (max-width: 900px) {

    .dropdown_btn {
        padding: 12px 22px !important;
    }

    .shop-now {
        left: 69.1% !important;
    }

    .shop-now-cooc {
        width: 185px !important;
        font-size: 1.4rem !important;
        left: 40% !important;
        top: 11em !important;
        height: 50px !important;
      }

    .footer .row > div > div > span:hover { 
        background-color:rgb(41,40,40);
            transform: rotate(5deg) scale(1.2);
        }

    .footer .row > div .image {
         width: 156px;
    }    


}


@media (max-width: 896px) {
.shop-now {
    left: 68.2% !important;
    width: 16% !important; 
 }
}

@media (max-width: 890px) {

.nav-link-hover {
    margin: 34px 354px;
}

.dropdown_btn {
    padding: 12px 40px !important;
}

 

.images__cont-two {
    margin-left: 46px;
}


}

@media (max-width: 885px) {
 
.shop-now { 
    left: 68.4% !important;
}


}

@media (max-width: 880px) {

    .dropdown_btn {
        padding: 12px 40px !important;
    }
}

@media (max-width: 872px) {

    #home {
        height: 556px;
    }

    .shop-now {
        left: 66.3% !important;
        width: 14% !important;
        font-size: 15px !important;
        top: 434px !important;
    }
 
    .images__cont {
         width: 382px;
    }

.images__cont-two {
    width: 378px;
}
}


@media (max-width: 860px) { 

    .navbar .active {
        margin: 50px 338px;
    }

    .nav-link-hover {
        margin: 34px 338px;
    }

    .shop-now {
        left: 66.5% !important;
    }

    .footer .row > div > div > span {
         font-size: 13px;
    }


}

@media (max-width: 845px) {

    #home {
        height: 528px;
    }

    .shop-now {
        top: 420px !important;
        left: 66.2% !important;
         height: 42px !important;
        font-size: 14px !important;
    }
    
    

.images__cont-two {
    margin-left: 24px;
}
}
@media (max-width: 844px) {

    .navbar .active {
        margin: 50px 330px;
    }

    .nav-link-hover {
        margin: 34px 330px;
    }

}

@media (max-width: 830px) {

    
    
    .heading1 {
        width: 78%;
    }
    .heading2 {
        width: 80%;
    }
    .heading3 {
        width: 80%;
    }
    .heading4 {
        width: 100%;
    }
    .heading5 {
        width: 80%;
    }

.footer ul {
    position: relative;
    top: 10px;
    left: 30px;
    font-size: 12px;
}

.footer ul li::before {
     top: -6px;
}



}


@media (max-width: 826px) {

    .navbar .active {
        margin: 50px 320px;
    }

    .nav-link-hover {
        margin: 34px 320px;
    }
 
    #home {
        height: 516px;
    }

    .shop-now {
        top: 412px !important;
        left: 66.8% !important;
        width: 13% !important;
        font-size: 0.7rem !important;
        height: 36px !important;
    }

    .images__cont {
        width: 360px;
    }

    .images__cont-two {
        margin-left: 6px;
    }

 

}


@media (max-width: 810px) {

    .navbar .active {
        margin: 50px 310px;
    }

    .nav-link-hover {
        margin: 34px 310px;
    }

    
    .images__cont-two {
        margin-left: -4px;
    }

    .footer .row > div > div > span {
         position: relative;
        z-index: 1;
        width: 286px;
    }

    .footer .row > div .image {
        width: 130px;
    left: 15%;
    }

}



@media (max-width: 800px) {

    .navbar .active {
        margin: 50px 300px;
    }

    .nav-link-hover {
        margin: 34px 300px;
    }

    .shop-now {
        left: 67% !important;
   }




    .images__cont {
        width: 337px;
    }

    .images__cont-two {
        margin-left: -13px;
        width: 374px;
    }
}


@media (max-width: 790px) {

    .shop-now {
         left: 67.4% !important;
    }

    .images__cont-two {
    margin-left: -25px;
}
}
@media (max-width: 780px) {

    .shop-now {
        left: 67.9% !important;
    }


    .images__cont {
        width: 320px;
    }

    .images__cont-two {
        margin-left: -40px;
    }

.footer .row > div .image {
     left: 34%;
}
}

@media (max-width: 770px) {

    .navbar .active {
        margin: 50px 290px;
    }

    .nav-link-hover {
        margin: 34px 290px;
    }

}


/* iPad portrait */

@media (max-width: 768px) {

    .dropdown .dropdown_btn:focus+.dropdown_menu,
    .dropdown .dropdown_btn:focus+.dropdown_menu:hover {
        left: 293px;
        pointer-events: inherit;
        top: 108px;
    } 

    .heading4 {
        width: 86%;
    } 
    
    #products {
        width: 96%;
    } 

    .cooc-container {
        width: 750px; 
              height: 498px;
        
    }

    .shop-now-cooc {
         left: 38% !important;
    }
    .heading4 {
        width: 86%;
    }

}
 
/* MOBILE VIEW */


@media (max-width: 767px) {
  
    .empty-space {
        margin: 132px 39px;
    }

    .responsive-view {
        left: 11.5%;
    }
    
    .responsive-wuc {
        left: 1%;
        position: relative;
    }

    .see-more-btn {
        margin: 26% 28% 110px;
    }


    .wucs-btn {
        margin: 70px 37% 110px !important;
    }

    .responsive-brd {
        left: 0%;
     }

    .BSM-btn {
        margin: 24% 35% 110px !important;
    }
    .images__cont {
        width: 650px;
        left: 50px;
        position: relative;
    }
    .images__cont-two {
        width: 650px;
        left: 12px;
        position: relative;
    }

    .modal-dialog .card-body{
        width: 300px;
            }

     
    .card-wb {
        width: 500px;
     }

     .card-wb .front, .back {
        min-height: 438px;
    }

    .cards-2 {
        width: 490px;
    }

    .imgBx {
        height: 23rem;
    }


    .card-wuc {
        height: 520px;
        width: 534px;
    }

    .cards-5__side {
        width: 520px;
    }

    .cosmetics{
        display: none !important; 
    }
    .cooc-container {
        width: 748px;
    }

    .heading3{
        display: none;
    }

    .cards-5__side {
        width: 520px;
    }
    
    .cards-5__picture {
         width: 518px;
    }


    .cards-5__picture--1 {
        background-image: url(../Product_imges/Product_37_img1.jpg);
        transform: translate(1px, -6px);
    }
    .cards-5__picture--2 {
        background-image: url(../Product_imges/Product_38_img1.jpg);
        transform: translate(1px, -6px);
    }
    .cards-5__picture--3 {
        background-image: url(../Product_imges/Product_39_img1.jpg);
        transform: translate(1px, -6px);
    }
    .cards-5__picture--4 {
        background-image: url(../Product_imges/Product_40_img1.jpg);
        transform: translate(1px, -56px);
        height: 520px;
    }
    .cards-5__picture--5 {
        background-image: url(../Product_imges/Product_41_img1.jpg);
        transform: translate(1px, -6px);
    }

    .cards-5__picture--6 {
        background-image: url(../Product_imges/Product_42_img1.jpg);
        transform: translate(1px, -6px);
    }


    .cards-5__heading-span--1 {
        font-size: 32px;
    }

    .price button {
        width: 190px !important;
        left: 20px;
    }
   
    .cards-2-card-19-responsive{
        display: none;
    }
    .cards-2-card-20-responsive{
        display: none;
    }
    .cards-2-card-21-responsive{
        display: none;
    }
    .cards-2-card-22-responsive{
        display: none;
    }
    .cards-2-card-23-responsive{
        display: none;
    }
    .cards-2-card-24-responsive{
        display: none;
    }

    .product_card_img_modal-1 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-1:hover img {
        width: 597px;
    }


    .product_card_img_modal-2 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-2:hover img {
        width: 597px;
    }


    .product_card_img_modal-4 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-4:hover img {
        width: 597px;
    }




    .product_card_img_modal-5 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-5:hover img {
        width: 597px;
    }


     .product_card_img_modal-16 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-16:hover img {
        width: 597px;
    }


     .product_card_img_modal-35 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-35:hover img {
        width: 597px;
    }

         .product_card_img_modal-36 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-36:hover img {
        width: 597px;
    }


         .product_card_img_modal-54 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-54:hover img {
        width: 597px;
    }


    
    .heading4 {
        width: 60%;
    }

    
    
         .product_card_img_modal-68 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-68:hover img {
        width: 597px;
    }



    
         .product_card_img_modal-72 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-72:hover img {
        width: 597px;
    }

    
    
         .product_card_img_modal-73 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-73:hover img {
        width: 597px;
    }


    
         .product_card_img_modal-57 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-57:hover img {
        width: 597px;
    }




    
         .product_card_img_modal-74 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-74:hover img {
        width: 597px;
    }



         .product_card_img_modal-78 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-78:hover img {
        width: 597px;
    }


         .product_card_img_modal-84 img {
        width: 597px;
        position: relative;
        left: 70px;
    }

    .product_card_img_modal-84:hover img {
        width: 597px;
    }

    .modal-dialog {
        height: 1270px;
    }
    .button {
        margin: -94px 18% 110px;
    }

    .footer {
        height: 65%;
        width: 100%;
    }


    .footer-1 {
        height: 490px;    
    }


    .responsive-info {
    padding-left: 10% !important;
}

    .footer .row > div .image {
        left: 0%;
        width: 178px;

    }

    .footer ul {
        position: relative;
        top: 0px;
        left: 0px;
        font-size: 18px;
        justify-content: center;
    }

    .footer .row b {
         font-size: 20px;
    }

    .footer .row > div > div > a.sf {
        width: 124px;
         font-size: 24px;
}

    .footer .row > div > div > a{
        width: 168px;
        font-size: 24px;
}
    .footer .row > div > div > a.em{
        width: 226px;
        font-size: 24px;
    }

    .footer .row > div > div > span {
         width: 474px;
         font-size: 22px;
        }

        .footer ul li a .brands {
            font-size: 2em;
        }

        .footer ul li::before {
            top: -8px;
        }

        .footer ul li:nth-child(1)::before {
            font-size: 2em;
        }


        .footer ul li:nth-child(2)::before {
            font-size: 2em;
        }


        .footer ul li:nth-child(3)::before {
            font-size: 2em;
        }

        .footer ul li:hover::before {
            height: 52px;
        }
 
}

@media (max-width: 765px) {

    #home {
         width: 100%;
    }
.footer {
     width: 100%;
}
}

@media (max-width: 764px) {
.cooc-container {
    width: 100%;
}
}

@media (max-width: 760px) {

#home {
    width: 100%;
}
 
}

@media (max-width: 758px) {

#home {
    width: 100%;
}
}

@media (max-width: 750px) {
    
    #home {
        width: 100%;
    }


    .navbar .active {
        margin: 50px 270px;
    }
    
    .nav-link-hover {
        margin: 34px 270px;
    }
    
    .shop-now {
        left: 506px !important;
        top: 396px !important;
    }
    

    .images__cont {
         left: 35px;
    }
    .images__cont-two {
         left: -4px;
    }
    
}

 

@media (max-width: 745px) {
 

.responsive-info {
    padding-left: 23% !important;
}

.footer .row > div > div > span {
    width: 418px;
    font-size: 19px;
}

}

@media (max-width: 743px) {
#home {
    width: 100%;
}
}

@media (max-width: 740px) {

    .shop-now {
        left: 511px !important;
    }    

    .images__cont {
        left: 24px;
    }
    
    .images__cont-two {
        left: -14px;
    }



    
.footer .row > div > div > span {
    width: 418px;
    font-size: 19px;
}

}

@media (width: 736px) {
    .shop-now {
        top: 398px !important;
    }

.cooc-container {
    width: 719px;
}


}

@media (width: 736px) {

    .navbar .active {
        margin: 9px 270px;
    }
    
    .nav-link-hover {
        margin: 0px 270px;
    }
    
    
    }

@media (max-width: 735px) {
    .shop-now {
        width: 14% !important;
        left: 505px !important;
    }
}     


@media (width: 734px) {
  
    .navbar .active {
        margin: 9px 270px;
    }
    
    .nav-link-hover {
        margin: 0px 270px;
    }
    .shop-now {
        top: 404px !important;
    }




    .cooc-container {
        width: 100%;
    }

    .heading4 {
        width: 100%;
    }    

}

@media (max-width: 730px) {


    .images__cont {
        width: 596px;
        left: 57px;
    }
    .images__cont-two {
        width: 596px;
  left: 15px; 
    }
.shop-now {
     left: 504px !important;
}

}
    /* iPhone eXpensive landscape */
 

    @media (max-width: 727px) {

    .footer .row > div > div > span {
        width: 432px;
        font-size: 20px;
    }
    }
 

    @media (max-width: 720px) {
 
    .cooc-container { 
        height: 470px;
    }

 
    .heading4 {
        width: 100%;
    }


    .shop-now {
        padding-top: 1.1% !important;
        left: 498px !important;
    }

    .footer-1 {
        height: 600px;
    }


    }

    @media (max-width: 710px) {

    .shop-now {
        padding-top: 1.1% !important;
        left: 495px !important;
        top: 403px !important;
    }
    }
    
    @media (max-width: 700px) {

        .navbar .active {
            margin: 50px 260px;
        }

        .nav-link-hover {
            margin: 34px 260px;
        }

        .shop-now {
            left: 488px !important;
            top: 398px !important;
        }

        .images__cont {
             left: 11%;
        }

        .images__cont-two {
            left: 1%;
        }

    }

    @media (max-width: 690px) {

        #home {
            height: 440px;
        }

        .navbar .active {
            margin: 50px 250px;
        }

        .nav-link-hover {
            margin: 34px 250px;
        }

        .shop-now {
            width: 12% !important;
            left: 464px !important;
            top: 340px !important;
            font-size: 0.6rem !important;
            height: 34px !important;
        }

    }

    @media (max-width: 684px) {

  
        .shop-now {
             left: 460px !important;
            top: 340px !important;
         }  
    .cooc-container {
        width: 100%;
    }

    .heading4 {
        width: 100%;
    }

}
  
@media (width: 684px) {

    .navbar .active {
        margin: -6px 270px;
    }
    
    .nav-link-hover {
        margin: 0px 235px;
    }
    
    .product_card_img_modal-1 img {
        width: 597px;
        position: relative;
        left: 35px;
    }
    
    

    
    }



    @media (max-width: 680px) {

        .shop-now {
            left: 450px !important;
            top: 340px !important;
        }

    .images__cont {
        left: 6%;
    }

    .images__cont-two {
        left: -4%;
    }

    }

    @media (max-width: 674px) {
    #products {
        width: 95%;
    }

    .images__cont {
        left: 4%;
    }


    .images__cont-two {
        left: -5%;
    }

    .cooc-container {
        width: 105%;
    }


    }
    /* Android (Pixel 2) landscape */
 
    
    @media (max-width: 670px) {

        .navbar .active {
            margin: 22px 235px;
        }

        .nav-link-hover {
            margin: 22px 235px;
        }
  
    }

    @media (width: 667px){
             .navbar .active {
                margin: -6px 270px;
            }
            
            .nav-link-hover {
                margin: 0px 235px;
            }
            
     
         .product_card_img_modal-1 img {
             left: 28px;
        }
         
         .product_card_img_modal-2 img {
             left: 28px;
        }
         .product_card_img_modal-4 img {
             left: 28px;
        }
        
        .product_card_img_modal-16 img {
             left: 30px;
        }

        .cooc-container {
    width: 650px;
}
}

@media (max-width: 665px){



#products {
    width: 92%;
}

.images__cont {
    left: 2%;
}

.images__cont-two {
    left: -7%;
}

.responsive-view {
    left: 12.5%;
    width: 78% !important;
}

.button {
    margin: -94px 21% 110px;
}

.responsive-jew {
    left: 7.5%;
}

.cooc-container {
    width: 108%;
}

.responsive-info {
    padding-left: 20% !important;
}

.responsive-wuc {
    left: 4%;

}

.responsive-brd {
    left: 4%;
}


}

@media (max-width: 660px) {

    .shop-now {
        left: 445px !important;
    }    
}

    @media (max-width: 650px) {
        .shop-now {
            left: 442px !important;
        }
    }

    @media (max-width: 645px) {

        .shop-now {
            left: 438px !important;
            font-size: 0.5rem !important;
            height: 33px !important;
        
        }
    }

    @media (max-width: 640px) {

        .navbar .active {
            margin: 50px 225px;
        }

        .nav-link-hover {
            margin: 34px 225px;
        }

        .shop-now {
            left: 435px !important;
        }
        
        .images__cont {
            width: 580px;
        }

        .images__cont-two {
            width: 580px;
        }

        .cooc-heading {
            font-size: 2.4rem;
        }        

        .shop-now-cooc {
            left: 34% !important;
            top: 10em !important;
        }

        .responsive-info {
            padding-left: 18% !important;
        }

        
    }

    @media (max-width: 634px) {

    .shop-now {
        left: 433px !important;
    }
    }

    @media (max-width: 630px) {

        .navbar .active {
            margin: 34px 210px;
        }

        .nav-link-hover {
            margin: 34px 210px;
        }

            .shop-now {
                left: 430px !important;
            }


        .images__cont {
            width: 560px;
        }

        .images__cont-two {
            width: 560px;
        }

    }

    @media (max-width: 625px) {

    .shop-now {
        left: 428px !important;
    }
    
    }

    @media (max-width: 620px) {

        .shop-now {
            left: 427px !important;
        }
    }

    @media (max-width: 614px) {
        .shop-now {
            left: 425px !important;
        }
}   
    
    @media (max-width: 610px) {
        .shop-now {
            left: 423px !important;
        }
    
        .responsive-info {
            padding-left: 16% !important;
        }
    
    
    }
    @media (max-width: 600px) {

        .navbar .active {
            margin: 50px 200px;
        }

        .nav-link-hover {
            margin: 34px 200px;
        }

        .shop-now {
            left: 418px !important;
        }

        .images__cont {
            width: 540px;
        }

        .images__cont-two {
            width: 540px;
        }

        .shop-now-cooc {
             left: 33% !important;
        }
        .heading4 {
            width: 96%;
        }

        .card-wuc h2 {
             font-size: 1em;
        }

        .footer .row > div > div > span {
            width: 420px;
            font-size: 18px;
        }

    }

    @media (max-width: 593px) {

        #home {
            height: 367px;
        }

        .shop-now {
            left: 387px !important;
            top: 285px !important;
        }
        
        .images__cont {
            width: 532px;
        }

        .images__cont-two {
            width: 532px;
        }


    .heading1 {
        width: 90%;
    }
    .heading2 {
        width: 90%;
    }
    .heading3 {
        width: 90%;
    }
    .heading4 {
        width: 82%;
    }
    .heading5 {
        width: 90%;
    }
    }

    @media (max-width: 590px) {

        .navbar .active {
            margin: 50px 190px;
        }

        .nav-link-hover {
            margin: 50px 190px;
        }


        .shop-now {
            left: 386px !important;
        }


    }
    
    @media (max-width: 583px) {
    
        .shop-now {
            left: 382px !important;
        }

        #products {
        width: 88%;
    }

    .images__cont {
        width: 520px;
    }
    .images__cont-two {
        width: 520px;
    }

    .responsive-wuc {
        left: 1%;
    }

    }

    @media (max-width: 580px) {
    .shop-now {
        left: 380px !important;
        width: 13% !important;
    }
    }

    @media (max-width: 575px) {

        .navbar .active {
            margin: 50px 180px;
        }

        .nav-link-hover {
            margin: 34px 180px;
        }


        .logo {
            left: -38px;
        }

        .shop-now {
            left: 376px !important;
        }
            

        .products .row {
            --bs-gutter-x: 0rem !important;
        }

        .card-wuc {
             width: 526px;
        }
        
        .images__cont {
            width: 510px;
        }

        .images__cont-two {
            width: 510px;
        }
            
        .cooc-heading {
            font-size: 2rem;
        }

        .shop-now-cooc {
            width: 167px !important;
            font-size: 1.2rem !important; 
             height: 45px !important;
        }

    }

    @media (max-width: 570px) {


        #home { 
  background-image: url(../img/banner-2.png);
            
        }

        .shop-now {
            left: 368px !important;
            top: 276px !important;
        }


        
    }
    @media (max-width: 554px) {
    .card-wuc {
        width: 100%;
    }
    }

    @media (max-width: 550px) {
    

        .nav-link-hover {
            margin: 34px 153px;
        }
        
        
 
            .shop-now {
                left: 92.6% !important;
        }


        .images__cont {
            width: 480px;
        }
        .images__cont-two {
            width: 480px;
        }
        .cards-5 {
            width: 100%;
        }

        .cards-5__side {
            width: 100%;
}
     
        
    }

    @media (max-width: 540px) {
 .shop-now {
            left: 94.6% !important;
        }

    .card-wb {
        width: 100%;
    }

    .cards-2 {
        width: 100%;
    }

    }
 
    @media (max-width: 534px) {

    .shop-now {
        left: 95.6% !important;
    }
    }

    @media (max-width: 530px) {
    .shop-now {
        left: 96.6% !important;
    }
    }

    @media (max-width: 524px) {

    .shop-now {
        left: 97.5% !important;
    }
    }
 

    @media (max-width: 520px) {
        .shop-now {
            left: 97% !important;
            width: 22% !important;
            height: 42px !important;
            top: 383px !important;
            padding-top: 2.1% !important;
        }
    .images__cont {
        width: 462px;
    }

    .images__cont-two {
        width: 462px;
    }


    }

    @media (max-width: 515px) {

    .shop-now {
        left: 98.3% !important;
    }
    }
    @media (max-width: 510px) {

    .shop-now {
        left: 99% !important;
    }
    }
    @media (max-width: 504px) {


        .images__cont {
            width: 444px;
        }

        .images__cont-two {
            width: 444px;
        }
        .shop-now {
            left: 100% !important;
        }

        .footer .row > div > div > a.sf {
            width: 104px;
             font-size: 20px;
        }

    .footer .row > div > div > span {
        width: 388px;
        font-size: 18px;
    }

    .footer .row > div > div > a {
        width: 138px;
        font-size: 20px;
    }

    }

    @media (max-width: 500px){
    .shop-now {
        left: 507px !important;
    }
}

     

    @media (max-width: 460px){
 
    #home {
        background-image: url(../img/banner-3.png); 
    }


    .shop-now {
        left: 478px !important;
        width: 25% !important;
    }

}
 

@media (max-width: 440px){
    .shop-now {
        left: 481px !important;
    }    

}
 

@media (max-width: 424px){
    .shop-now {
        left: 483px !important;
    }
}
    /* iPhone 6-8 Plump portrait */
    @media (max-width: 414px) {
        
        
        .navbar {
            height: 68px;
        }

        .navbar-brand {
            height: 7pc !important;
        }

         .logo {
            width: 100%;
            height: 142px;
            left: -5px;
            top: -17px;
        }
        
        .navbar .active {
            margin: 4px 120px;
        }

        .nav-link-hover {
            margin: 26px 120px;
        }


        .dropdown_btn {
            padding: 12px 30px !important;
        }

        .dropdown .dropdown_btn:focus+.dropdown_menu,
        .dropdown .dropdown_btn:focus+.dropdown_menu:hover {
            left: 125px;
            pointer-events: inherit;
            top: 104px;
        }
        

        .shop-now {
            left: 482px !important;
        } 
        
        .heading1 {
             left: 20px;
        }

        #products {
            width: 92%;
        }
 
        .images__cont {
            width: 370px;
        }

        .images__cont-two {
            width: 370px;
        }

        .empty-space {
            margin: 2px 8px;
        }

        .cards-2 {
             left: 20px;
        }

        .cards-5__picture {
            width: 100%;
        }


        .cooc-container {
            width: 395px;
        }


        .shop-now-cooc {
            left: 27% !important;
        }

.product_card_img_modal-1 img {
    width: 597px;
    position: relative;
    left: 0px;
}


.product_card_img_modal-1 img {
     left: 0px;
}
 

.product_card_img_modal-2 img {
    width: 597px;
    position: relative;
    left: 0px;
}



.product_card_img_modal-2 img {
     left: 0px;
}
 

.product_card_img_modal-3 img {
    width: 597px;
    position: relative;
    left: 0px;
}



.product_card_img_modal-3 img {
    left: 0px;
}



.product_card_img_modal-4 img {
    width: 379px;
    position: relative;
    left: 0px;
}



.product_card_img_modal-4 img {
     left: 0px;
}


.product_card_img_modal-5 img {
    width: 379px;
    position: relative;
    left: 0px;
}



.product_card_img_modal-5 img {
     left: 0px;
}


.product_card_img_modal-16 img {
    width: 597px;
    position: relative;
    left: 0px;
}



 .product_card_img_modal-16 img {
     left: 0px;
}

.product_card_img_modal-30 img {
    width: 379px;
}

.product_card_img_modal-35 img {
    width: 379px;
    position: relative;
    left: 0px;
}



 .product_card_img_modal-35 img {
     left: 0px;
}


.product_card_img_modal-36 img {
    width: 597px;
    position: relative;
    left: 0px;
}



     .product_card_img_modal-36 img {
     left: 0px;
}


.product_card_img_modal-54 img {
    width: 597px;
    position: relative;
    left: 0px;
}



     .product_card_img_modal-54 img {
     left: 0px;
}


.product_card_img_modal-68 img {
    width: 597px;
    position: relative;
    left: 0px;
}



     .product_card_img_modal-68 img {
     left: 0px;
}
 


.product_card_img_modal-72 img {
    width: 597px;
    position: relative;
    left: 0px;
}



     .product_card_img_modal-72 img {
     left: 0px;
}
 

.product_card_img_modal-73 img {
    width: 597px;
    position: relative;
    left: 0px;
}



     .product_card_img_modal-73 img {
     left: 0px;
}
 

.product_card_img_modal-57 img {
    width: 597px;
    position: relative;
    left: 0px;
}




     .product_card_img_modal-57 img {
     left: 0px;
}
 


.product_card_img_modal-74 img {
    width: 597px;
    position: relative;
    left: 0px;
}



     .product_card_img_modal-74 img {
     left: 0px;
}


.product_card_img_modal-78 img {
    width: 597px;
    position: relative;
    left: 0px;
}



     .product_card_img_modal-78 img {
     left: 0px;
}
 


.product_card_img_modal-84 img {
    width: 597px;
    position: relative;
    left: 0px;
}



     .product_card_img_modal-84 img {
     left: 0px;
}
 

.card-wuc {
     left: 20px;
}

.heading4 {
     left: 20px;
}

.cards-5 {
     left: 15px;
}

@keyframes responsive-animation-h1 {
    
100% {
    font-size: 1.3rem;
    height: 7rem;
}
50% {
    font-size: 1.6rem;
    height: 7rem;
}
0% {
    font-size: 1.3rem;
    height: 7rem;
}
}


.cards-5__picture--1 {
     transform: translate(-61px, -6px);
     width: 117%;
}
.cards-5__picture--2 {
     transform: translate(-61px, -6px);
     width: 117%;
}
.cards-5__picture--3 {
     transform: translate(-61px, -6px);
width: 117%;
    }
.cards-5__picture--4 {
     transform: translate(-61px, -6px);
     width: 117%;
    }
.cards-5__picture--5 {
     transform: translate(-61px, -6px);
     width: 117%;
    }
.cards-5__picture--6 {
     transform: translate(-61px, -6px);
     width: 117%;

    }

.cards-5__heading {
    font-size: 1.3rem;
}

.cards-5__heading-span--1 {
    font-size: 20px;
}



        .footer .container {
            width: 60%;
        }
 
        .footer-1 {
            height: 662px;
        }

        .footer .row > div > div > span {
            width: 302px;
            font-size: 14px;
        }

        .footer .row > div > div > a {
            width: 124px;
            font-size: 18px;
        }


    }
    @media (max-width: 412px) {

    .price button {
        width: 134px !important;
        left: 18px;
    }
    }
  
    @media (max-width: 400px) {
        .shop-now {
            left: 485px !important;
        }
    }
 
    @media (max-width: 390px) {

        #home {
            width: 408px;
            height: 260px;
        }
        .shop-now {
            left: 250px !important;
            width: 16% !important;
            top: 190px !important;
            font-size: 6px !important;
            height: 27px !important;
            padding-top: 5px !important;
        }
        
        
    .footer {
         width: 101.2%;
    }
    }

    @media (max-width: 380px){
        #home {
            width: 401px;
        }

        .shop-now {
            left: 247px !important;
        }


.footer {
    width: 395px;
}
}

    @media (max-width: 375px) {

        #home {
            width: 383px;
            height: 245px;
        }

        .logo {
            width: 87%;
            height: 120px;
        }

        .al-firdous {
            top: 85px;
        left: 10px;
        }


        .nav-link-hover {
            margin: 26px 97px;
        }
        
        .shop-now {
            width: 16% !important;
            font-size: 6px !important;
            height: 29px!important;
            top: 180px !important;
            left: 234px !important;
        }



        
        #products {
            width: 87%;
        }

        .images__cont {
            width: 330px;
        }

        .images__cont-two {
            width: 330px;
        }

        
          .price button {
            width: 140px !important;
            left: 5px;
        }
 

        .product_card_img_modal-4 img {
            width: 340px;
        }
        .product_card_img_modal-5 img {
            width: 340px;
        }

        
        .cooc-container {
    width: 357px;
}
          .footer .row > div > div > span {
            width: 262px;
            font-size: 15px;
        }
   
        .footer {
            width: 358px;
        }

        .footer-1 {
            height: 650px;
        }

   
    }
 
    @media (max-width: 366px) {

    .shop-now {
       padding-top: 8px !important;
    }
}


@media (max-width: 363px){
.shop-now {
    width: 17% !important;
    left: 233px !important;
}
} 
@media (max-width: 343px){
 .shop-now {
    width: 17% !important;
    left: 235px !important;
    font-size: 0.3rem !important;
}
}
  